<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
      <resolution
            class="ch.hsr.ifs.mockator.plugin.testdouble.creation.staticpoly.CreateTestDoubleStaticPolyQuickFix"
            problemId="ch.hsr.ifs.mockator.MissingTestDoublStaticPolyProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.testdouble.creation.subtype.CreateTestDoubleSubTypeQuickFix"
            problemId="ch.hsr.ifs.mockator.MissingTestDoubleSubTypeProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.fakeobject.FakeObjectQuickFix"
            problemId="ch.hsr.ifs.mockator.StaticPolyMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.fakeobject.FakeObjectQuickFix"
            problemId="ch.hsr.ifs.mockator.SubtypeMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.mockobject.qf.MockObjectByFunArgsQuickFix"
            problemId="ch.hsr.ifs.mockator.StaticPolyMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.mockobject.qf.MockObjectByFunsQuickFix"
            problemId="ch.hsr.ifs.mockator.StaticPolyMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.mockobject.qf.MockObjectByFunArgsQuickFix"
            problemId="ch.hsr.ifs.mockator.SubtypeMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.mockobject.qf.MockObjectByFunsQuickFix"
            problemId="ch.hsr.ifs.mockator.SubtypeMissingMemFunsProblem">
      </resolution>      
      <resolution
            class="ch.hsr.ifs.mockator.plugin.linker.wrapfun.gnuoption.qf.DeleteWrappedFunctionQuickFix"
            problemId="ch.hsr.ifs.mockator.WrapFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.linker.wrapfun.gnuoption.qf.ActivateWrappedFunctionQuickFix"
            problemId="ch.hsr.ifs.mockator.WrapFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.linker.wrapfun.gnuoption.qf.DeactivateWrappedFunctionQuickFix"
            problemId="ch.hsr.ifs.mockator.WrapFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.preprocessor.qf.ActivateTraceFunctionQuickFix"
            problemId="ch.hsr.ifs.mockator.TraceFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.preprocessor.qf.DeactivateTraceFunctionQuickFix"
            problemId="ch.hsr.ifs.mockator.TraceFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.mockator.plugin.mockobject.expectations.qf.ConsistentExpectationsQuickFix"
            problemId="ch.hsr.ifs.mockator.InconsistentExpectationsProblem">
      </resolution>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">
      <checker
            class="ch.hsr.ifs.mockator.plugin.incompleteclass.staticpoly.StaticPolymorphismChecker"
            id="ch.hsr.ifs.mockator.StaticPolyMissingMemFunsResolution"
            name="%StaticPolyMissingMemberFunctionsCheckerName">
      <problem
            category="ch.hsr.ifs.mockator.MockatorProblemCategory"
            defaultSeverity="Error"
            id="ch.hsr.ifs.mockator.StaticPolyMissingMemFunsProblem"
            messagePattern="%NeccesaryMemberFunctionsMissingMsg"
            name="%MissingMemberFunctionsInCompileSeamProblemName">
      </problem>
      </checker>
      <category
            id="ch.hsr.ifs.mockator.MockatorProblemCategory"
            name="%MockatorProblemCategoryDesc">
      </category>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">
      <checker
            class="ch.hsr.ifs.mockator.plugin.incompleteclass.subtype.SubtypePolymorphismChecker"
            id="ch.hsr.ifs.mockator.SubtypePolyMissingMemFunsResolution"
            name="%SubtypePolyMissingMemberFunctionsCheckerName">
      <problem
            category="ch.hsr.ifs.mockator.MockatorProblemCategory"
            defaultSeverity="Error"
            id="ch.hsr.ifs.mockator.SubtypeMissingMemFunsProblem"
            messagePattern="%NeccesaryMemberFunctionsMissingMsg"
            name="%MissingMemberFunctionsInObjectSeamProblemName">
      </problem>
      </checker>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">
      <checker
            class="ch.hsr.ifs.mockator.plugin.testdouble.creation.staticpoly.MissingTestDoubleStaticPolyChecker"
            id="ch.hsr.ifs.mockator.MissingTestDoubleStaticPolyChecker"
            name="%StaticPolyMissingTestDoubleCheckerName">
      <problem
            category="ch.hsr.ifs.mockator.MockatorProblemCategory"
            defaultSeverity="Error"
            id="ch.hsr.ifs.mockator.MissingTestDoublStaticPolyProblem"
            messagePattern="%StaticPolyTestDoubleMissingMsg"
            name="%StaticPolyMissingTestDoubleProblemName">
      </problem>
      </checker>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">
      <checker
            class="ch.hsr.ifs.mockator.plugin.testdouble.creation.subtype.MissingTestDoubleSubTypeChecker"
            id="ch.hsr.ifs.mockator.MissingTestDoubleSubTypeChecker"
            name="%SubTypeMissingTestDoubleCheckerName">
      <problem
            category="ch.hsr.ifs.mockator.MockatorProblemCategory"
            defaultSeverity="Error"
            id="ch.hsr.ifs.mockator.MissingTestDoubleSubTypeProblem"
            messagePattern="%SubTypeTestDoubleMissingMsg"
            name="%SubTypeMissingTestDoubleProblemName">
      </problem>
      </checker>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">
      <checker
            class="ch.hsr.ifs.mockator.plugin.mockobject.expectations.qf.InconsistentExpectationsChecker"
            id="ch.hsr.ifs.mockator.InconsistentExpectationsChecker"
            name="%InconsistentExpectationsName">
      <problem
            category="ch.hsr.ifs.mockator.MockatorProblemCategory"
            defaultSeverity="Info"
            id="ch.hsr.ifs.mockator.InconsistentExpectationsProblem"
            messagePattern="%InconsistentExpectationsProblemMsg"
            name="%InconsistentExpectationsProblemName">
      </problem>
      </checker>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">
      <checker
            class="ch.hsr.ifs.mockator.plugin.linker.wrapfun.gnuoption.GnuOptionChecker"
            id="ch.hsr.ifs.mockator.WrapFunctionChecker"
            name="%WrapFunctionCheckerName">
      <problem
            category="ch.hsr.ifs.mockator.MockatorProblemCategory"
            defaultSeverity="Info"
            id="ch.hsr.ifs.mockator.WrapFunctionProblem"
            messagePattern="%WrapFunctionProblemMsg"
            name="%WrapFunctionProblemName">
      </problem>
      </checker>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">
      <checker
            class="ch.hsr.ifs.mockator.plugin.preprocessor.qf.TraceFunctionChecker"
            id="ch.hsr.ifs.mockator.TraceFunctionChecker"
            name="%TraceFunctionCheckerName">
      <problem
            category="ch.hsr.ifs.mockator.MockatorProblemCategory"
            defaultSeverity="Warning"
            id="ch.hsr.ifs.mockator.TraceFunctionProblem"
            messagePattern="%TraceFunctionProblemMsg"
            name="%TraceFunctionProblemName">
      </problem>
      </checker>
   </extension>
   <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="ch.hsr.ifs.mockator.sourceActions"
          label="%TestSourceActionsActionSetLabel"
          visible="true">
       <menu
             id="ch.hsr.ifs.mockator.menu"
             label="%TestSourceGeneratorsMenuLabel">
       </menu>
       <action
             class="ch.hsr.ifs.mockator.plugin.mockobject.convert.ConvertToMockObjectDelegate"
             definitionId="ch.hsr.ifs.mockator.convertToMockObjectCommand"
             id="ch.hsr.ifs.mockator.convertToMockObjectAction"
             label="%ConvertToMockObjectActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.mockobject.function.MockFunctionDelegate"
             definitionId="ch.hsr.ifs.mockator.mockFunctionCommand"
             id="ch.hsr.ifs.mockator.mockFunctionAction"
             label="%MockFunctionActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.testdouble.movetons.MoveTestDoubleToNsDelegate"
             definitionId="ch.hsr.ifs.mockator.moveTestDoubleToNamespaceCommand"
             id=" ch.hsr.ifs.mockator.moveTestDoubleToNamespaceAction"
             label="%MoveTestDoubleToNamespaceActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.linker.wrapfun.LinkerWrapFunDelegate"
             definitionId="ch.hsr.ifs.mockator.wrapFunctionObjectCommand"
             id="ch.hsr.ifs.mockator.wrapFunctionObjectAction"
             label="%WrapFunctionActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.linker.shadowfun.ShadowFunctionDelegate"
             definitionId="ch.hsr.ifs.mockator.shadowFunctionObjectCommand"
             id="ch.hsr.ifs.mockator.shadowFunctionObjectAction"
             label="%ShadowFunctionActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.preprocessor.PreprocessorDelegate"
             definitionId="ch.hsr.ifs.mockator.preprocessorCommand"
             id="ch.hsr.ifs.mockator.preprocessorAction"
             label="%PreprocessorActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.mockobject.togglefun.ToggleTracingFunCallDelegate"
             definitionId="ch.hsr.ifs.mockator.toogleTracingFunCallsCommand"
             id="ch.hsr.ifs.mockator.toogleTracingFunCallsAction"
             label="%ToggleTracingFunCallsActionLabel">
       </action>
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <viewerContribution
          id="ch.hsr.ifs.mockator.cEditorContribution"
          targetID="#CEditorContext">
       <action
             class="ch.hsr.ifs.mockator.plugin.mockobject.convert.ConvertToMockObjectDelegate"
             definitionId="ch.hsr.ifs.mockator.convertToMockObjectCommand"
             id="ch.hsr.ifs.mockator.convertToMockObjectAction"
             label="%ConvertToMockObjectActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.mockobject.function.MockFunctionDelegate"
             definitionId="ch.hsr.ifs.mockator.mockFunctionCommand"
             id="ch.hsr.ifs.mockator.mockFunctionAction"
             label="%MockFunctionActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.testdouble.movetons.MoveTestDoubleToNsDelegate"
             definitionId="ch.hsr.ifs.mockator.moveTestDoubleToNamespaceCommand"
             id="ch.hsr.ifs.mockator.moveTestDoubleToNamespaceAction"
             label="%MoveTestDoubleToNamespaceActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.linker.wrapfun.LinkerWrapFunDelegate"
             definitionId="ch.hsr.ifs.mockator.wrapFunctionObjectCommand"
             id="ch.hsr.ifs.mockator.wrapFunctionObjectAction"
             label="%WrapFunctionActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.linker.shadowfun.ShadowFunctionDelegate"
             definitionId="ch.hsr.ifs.mockator.shadowFunctionObjectCommand"
             id="ch.hsr.ifs.mockator.shadowFunctionObjectAction"
             label="%ShadowFunctionActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.preprocessor.PreprocessorDelegate"
             definitionId="ch.hsr.ifs.mockator.preprocessorCommand"
             id="ch.hsr.ifs.mockator.preprocessorAction"
             label="%PreprocessorActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.mockator.plugin.mockobject.togglefun.ToggleTracingFunCallDelegate"
             definitionId="ch.hsr.ifs.mockator.toogleTracingFunCallsCommand"
             id="ch.hsr.ifs.mockator.toogleTracingFunCallsAction"
             label="%ToggleTracingFunCallsActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.mockator.mockatorMenu">
       </action>
       <menu
             id="ch.hsr.ifs.mockator.mockatorMenu"
             label="%PluginVisibleName"
             path="org.eclipse.cdt.ui.source.menu">
          <groupMarker
                name="ch.hsr.ifs.mockator.mockatorMenu">
          </groupMarker>
       </menu>
    </viewerContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%ConvertToMockObjectCommandDescription"
          id="ch.hsr.ifs.mockator.convertToMockObjectCommand"
          name="%ConvertToMockObjectCommandName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%MockFunctionCommandDescription"
          id="ch.hsr.ifs.mockator.mockFunctionCommand"
          name="%MockFunctionCommandName">
    </command>    
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%MoveTestDoubleToNamespaceDescription"
          id="ch.hsr.ifs.mockator.moveTestDoubleToNamespaceCommand"
          name="%MoveTestDoubleToNamespaceCommandName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%WrapFunctionCommandDescription"
          id="ch.hsr.ifs.mockator.wrapFunctionObjectCommand"
          name="%WrapFunctionName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%ShadowFunctionCommandDescription"
          id="ch.hsr.ifs.mockator.shadowFunctionObjectCommand"
          name="%ShadowFunctionName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%PreprocessorCommandDescription"
          id="ch.hsr.ifs.mockator.preprocessorCommand"
          name="%PreprocessorName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%ToggleTracingFunCallsCommandDescription"
          id="ch.hsr.ifs.mockator.toogleTracingFunCallsCommand"
          name="%ToggleTracingFunCallsName">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="ch.hsr.ifs.mockator.convertToMockObjectCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+C">
    </key>
    <key
          commandId="ch.hsr.ifs.mockator.mockFunctionCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+Z">
    </key>
    <key
          commandId="ch.hsr.ifs.mockator.moveTestDoubleToNamespaceCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+M">
    </key>
    <key
          commandId="ch.hsr.ifs.mockator.wrapFunctionObjectCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+W">
    </key>
    <key
          commandId="ch.hsr.ifs.mockator.shadowFunctionObjectCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+A">
    </key>
    <key
          commandId="ch.hsr.ifs.mockator.preprocessorCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+R">
    </key>
    <key
          commandId="ch.hsr.ifs.mockator.toogleTracingFunCallsCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+T">
    </key>    
 </extension>
 <extension
         point="ch.hsr.ifs.cute.ui.wizardAddition">
      <wizardAddition
            compositeProvider="ch.hsr.ifs.mockator.plugin.project.cutewizard.MockatorWizardAddition">
      </wizardAddition>
 </extension>
 <extension
         id="ch.hsr.ifs.mockator.MockatorNature"
         name="Mockator"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
            class="ch.hsr.ifs.mockator.plugin.project.nature.MockatorNature">
         </run>
      </runtime>
      <one-of-nature id="ch.hsr.ifs.mockator.stateSet"/>
      <requires-nature id="org.eclipse.cdt.core.ccnature"/>
</extension>
   <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="ch.hsr.ifs.mockator.addNature"
             objectClass="java.lang.Object">
         <visibility>
         	<and>
         	    <or>
	              <and>
		             <objectClass name="org.eclipse.core.resources.IProject"/>
		             <objectState name="nature" value="org.eclipse.cdt.core.ccnature"/>
	              </and>
	              <objectClass name="org.eclipse.cdt.core.model.ICProject"/>
	            </or>
		        <not>
		          <objectState name="nature"
		                         value="ch.hsr.ifs.mockator.MockatorNature">
		          </objectState>
		        </not>
             </and>
         </visibility>
         <menu
               id="ch.hsr.ifs.mockator"
               label="%PluginVisibleName"
               path="buildGroup">
            <groupMarker name="rebuild"/>
            <separator name="nature"/>
         </menu>
         <action
               class="ch.hsr.ifs.mockator.plugin.project.nature.AddNatureAction"
               enablesFor="+"
               id="ch.hsr.ifs.mockator.project.AddNatureAction"
               label="%AddNatureMenu"
               definitionId="ch.hsr.ifs.mockator.addNature"
               style="push"
               menubarPath="ch.hsr.ifs.mockator/nature">
           </action>
        </objectContribution>
       <objectContribution
             id="ch.hsr.ifs.mockator.removeNature"
             objectClass="java.lang.Object">
         <visibility>
           <and>
              <or>
	              <and>
		             <objectClass name="org.eclipse.core.resources.IProject"/>
		             <objectState name="nature" value="org.eclipse.cdt.core.ccnature"/>
	              </and>
	              <objectClass name="org.eclipse.cdt.core.model.ICProject"/>
	          </or>
              <objectState name="nature"
                   value="ch.hsr.ifs.mockator.MockatorNature">
              </objectState>
            </and>
         </visibility>
         <menu
               id="ch.hsr.ifs.mockator"
               label="%PluginVisibleName"
               path="buildGroup">
            <groupMarker name="rebuild"/>
            <separator name="nature"/>
         </menu>
          <action
                class="ch.hsr.ifs.mockator.plugin.project.nature.RemoveNatureAction"
                definitionId="ch.hsr.ifs.mockator.removeNature"
                id="ch.hsr.ifs.mockator.project.removeNatureAction"
                label="%RemoveNatureMenu"
                enablesFor="1"
                menubarPath="ch.hsr.ifs.mockator/nature"
                style="push">
          </action>
       </objectContribution>
       <objectContribution
            objectClass="java.lang.Object"
            id="ch.hsr.ifs.mockator.project.togglePreloadFunction">
          <visibility>
         	    <or>
	              <and>
		             <objectClass name="org.eclipse.core.resources.IProject"/>
		             <objectState name="nature" value="org.eclipse.cdt.core.ccnature"/>
	              </and>
	              <objectClass name="org.eclipse.cdt.core.model.ICProject"/>
	            </or>
         </visibility>
         <action
               label="%MaintainRunTimeWrappingMenu"
               style="pulldown"
               class="ch.hsr.ifs.mockator.plugin.linker.wrapfun.ldpreload.TogglePreloadFunctionAction"
               menubarPath="ch.hsr.ifs.mockator/nature"
               enablesFor="+"
               id="ch.hsr.ifs.mockator.project.togglePreloadFunction">
         </action>  
      </objectContribution>
   </extension>
   <extension
       point="org.eclipse.ui.commands">
    <command
          id="ch.hsr.ifs.mockator.addNature"
          name="%AddNatureMenu">
    </command>
    <command
          id="ch.hsr.ifs.mockator.removeNature"
          name="%RemoveNatureMenu">
    </command>
    <!--<command
          id="ch.hsr.ifs.mockator.maintainRuntimeWrapping"
          name="%MaintainRunTimeWrappingMenu">
    </command>-->
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
      	 	name="%PluginVisibleName"
            class="ch.hsr.ifs.mockator.plugin.project.properties.MockatorPropertyPage"
            id="ch.hsr.ifs.mockator.MockatorPropertyPage">
         	<enabledWhen>
		    	<adapt type="org.eclipse.core.resources.IProject">
					<test
            			property="org.eclipse.core.resources.projectNature"
            			value="ch.hsr.ifs.mockator.MockatorNature" />
		    	</adapt>
         	</enabledWhen>
      </page>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            description="Action set containing coding related C/C++ actions"
            id="ch.hsr.ifs.mockator.extractInterfaceAction"
            label="C/C++ Coding"
            visible="true">
         <menu id="org.eclipse.jdt.ui.refactoring.menu" label="Refac&amp;tor">
         	<separator name="reorgGroup"></separator>
         	<separator name="codingGroup"></separator>
         </menu>
         <action
               class="ch.hsr.ifs.mockator.plugin.extractinterface.ui.ExtractInterfaceDelegate"
               id="ch.hsr.ifs.mockator.extractInterfaceAction"
               definitionId="ch.hsr.ifs.mockator.extractInterfaceCommand"
               label="%ExtractInterfaceActionLabel"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup">
         	<enablement>
               <objectClass
                     name="org.eclipse.jface.text.ITextSelection">
               </objectClass>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            id="ch.hsr.ifs.mockator.extractInterfaceCommand"
            name="%ExtractInterfaceCommandName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <viewerContribution
            id="ch.hsr.ifs.mockator.cEditorContribution"
            targetID="#CEditorContext">
         <action
               class="ch.hsr.ifs.mockator.plugin.extractinterface.ui.ExtractInterfaceDelegate"
               id="ch.hsr.ifs.mockator.extractInterfaceAction"
               definitionId="ch.hsr.ifs.mockator.extractInterfaceCommand"
               label="%ExtractInterfaceActionLabel"
               menubarPath="org.eclipse.cdt.ui.refactoring.menu/codingGroup">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="ch.hsr.ifs.mockator.plugin.extractinterface.ExtractInterfaceContribution"
            id="ch.hsr.ifs.mockator.plugin.extractinterface.ExtractInterfaceRefactoring">
      </contribution>
   </extension>
   <!--<extension
         id="ch.hsr.ifs.mockator.mockatorMenuExtension"
         name="Mockator Menu Extension"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=buildGroup">
         <menu
               id="ch.hsr.ifs.mockatorMenu"
               label="%PluginVisibleName">
            <command
                  commandId="ch.hsr.ifs.mockator.addNature"
                  label="%AddNatureMenu"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <and>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.cdt.core.cnature">
                              </test>
                              <not>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="ch.hsr.ifs.mockator.MockatorNature">
                                 </test>
                              </not>
                           </and>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ch.hsr.ifs.mockator.removeNature"
                  label="%RemoveNatureMenu"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <and>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.cdt.core.cnature">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="ch.hsr.ifs.mockator.MockatorNature">
                              </test>
                           </and>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="%MaintainRunTimeWrappingMenu"
                  label="%MaintainRunTimeWrappingMenu"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.hsr.ifs.mockator.plugin.project.nature.AddNatureAction"
            commandId="ch.hsr.ifs.mockator.addNature">
      </handler>
      <handler
            class="ch.hsr.ifs.mockator.plugin.project.nature.RemoveNatureAction"
            commandId="ch.hsr.ifs.mockator.removeNature">
      </handler>
      <handler
            commandId="ch.hsr.ifs.mockator.maintainRuntimeWrappingCommand">
      </handler>
   </extension>-->
</plugin>
