<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="ch.hsr.ifs.cute.mockator.Examples"
			name="Mockator Examples"
			parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<!-- COMPILE SEAM -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="ch.hsr.ifs.cute.mockator.examples.CompileSeam"
			name="Mockator Compile-Seam Example"
			class="ch.hsr.ifs.iltis.core.core.ui.examples.ExtendedExampleInstallerWizard"
			category="org.eclipse.ui.Examples/ch.hsr.ifs.cute.mockator.Examples"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
			icon="icons/genproject.gif"
			project="true">
			<description>An example project for Mockator Compiler-Seams</description>
		</wizard>
	</extension>

	<extension point="ch.hsr.ifs.iltis.core.core.extendedExampleInstallerWizard">
		<example wizardID="ch.hsr.ifs.cute.mockator.examples.CompileSeam" pageImage="icons/genproject.gif">
			<projectDescriptor projectConfigurator="ch.hsr.ifs.cute.mockator.example.ui.ExampleProjectConfigurator" name="CompileSeamExample" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.compileseam.test/" description="An example project for Mockator Compiler-Seams"/>
		</example>
	</extension>
	
	<!-- MOCK FUNCTION LIBRARY -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="ch.hsr.ifs.cute.mockator.examples.MockFunction"
			name="Mockator Mock-Function Example"
			class="ch.hsr.ifs.iltis.core.core.ui.examples.ExtendedExampleInstallerWizard"
			category="org.eclipse.ui.Examples/ch.hsr.ifs.cute.mockator.Examples"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
			icon="icons/genproject.gif"
			project="true">
			<description>An example project for Mockator Mock-Function</description>
		</wizard>
	</extension>

	<extension point="ch.hsr.ifs.iltis.core.core.extendedExampleInstallerWizard">
		<example wizardID="ch.hsr.ifs.cute.mockator.examples.MockFunction" pageImage="icons/genproject.gif">
			<projectDescriptor name="MockFunctionExampleLibrary" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.mockfun.lib/" description="The shared library"/>
			<projectDescriptor projectConfigurator="ch.hsr.ifs.cute.mockator.example.ui.ExampleProjectConfigurator" name="MockFunctionExample" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.mockfun.test/" description="The test for the shared library"/>
		</example>
	</extension>
	
	<!-- OBJECT SEAM -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="ch.hsr.ifs.cute.mockator.examples.ObjectSeam"
			name="Mockator Object-Seam Example"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
			class="ch.hsr.ifs.iltis.core.core.ui.examples.ExtendedExampleInstallerWizard"
			category="org.eclipse.ui.Examples/ch.hsr.ifs.cute.mockator.Examples"
			icon="icons/genproject.gif"
			project="true">
			<description>An example project for Mockator Object-Seam</description>
		</wizard>
	</extension>

	<extension point="ch.hsr.ifs.iltis.core.core.extendedExampleInstallerWizard">
		<example wizardID="ch.hsr.ifs.cute.mockator.examples.ObjectSeam" pageImage="icons/genproject.gif">
			<projectDescriptor projectConfigurator="ch.hsr.ifs.cute.mockator.example.ui.ExampleProjectConfigurator" name="ObjectSeamExample" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.objectseam.test/" description="An example project for Mockator Object-Seam"/>
		</example>
	</extension>
	
	<!-- PREPROCESSOR SEAM -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="ch.hsr.ifs.cute.mockator.examples.PreprocessorSeam"
			name="Mockator Preprocessor-Seam Example"
			class="ch.hsr.ifs.iltis.core.core.ui.examples.ExtendedExampleInstallerWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
			category="org.eclipse.ui.Examples/ch.hsr.ifs.cute.mockator.Examples"
			icon="icons/genproject.gif"
			project="true">
			<description>An example project for Mockator Preprocessor-Seam</description>
		</wizard>
	</extension>

	<extension point="ch.hsr.ifs.iltis.core.core.extendedExampleInstallerWizard">
		<example wizardID="ch.hsr.ifs.cute.mockator.examples.PreprocessorSeam" pageImage="icons/genproject.gif">
			<projectDescriptor projectConfigurator="ch.hsr.ifs.cute.mockator.example.ui.ExampleProjectConfigurator" name="PreprocessorSeamExample" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.preprocessorseam.test/" description="An example project for Mockator Preprocessor-Seam"/>
		</example>
	</extension>
	
	<!-- SHADOW FUN SHARED -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="ch.hsr.ifs.cute.mockator.examples.ShadowFunShared"
			name="Mockator Shadow-Function Shared-library Example"
			class="ch.hsr.ifs.iltis.core.core.ui.examples.ExtendedExampleInstallerWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
			category="org.eclipse.ui.Examples/ch.hsr.ifs.cute.mockator.Examples"
			icon="icons/genproject.gif"
			project="true">
			<description>An example project for Mockator Shadow-Function in a shared library</description>
		</wizard>
	</extension>

	<extension point="ch.hsr.ifs.iltis.core.core.extendedExampleInstallerWizard">
		<example wizardID="ch.hsr.ifs.cute.mockator.examples.ShadowFunShared" pageImage="icons/genproject.gif">
			<projectDescriptor name="ShadowFunctionExampleLibrary" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.shadowfun.lib/" description="The shared library"/>
			<projectDescriptor projectConfigurator="ch.hsr.ifs.cute.mockator.example.ui.ExampleProjectConfigurator" name="ShadowFunctionExample" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.shadowfun.test/" description="The test for the shared library"/>
		</example>
	</extension>
	
	<!-- WRAPFUN -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="ch.hsr.ifs.cute.mockator.examples.WrapFun"
			name="Mockator Wrapper-Function local Example"
			class="ch.hsr.ifs.iltis.core.core.ui.examples.ExtendedExampleInstallerWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
			category="org.eclipse.ui.Examples/ch.hsr.ifs.cute.mockator.Examples"
			icon="icons/genproject.gif"
			project="true">
			<description>An example project for Mockator Wrapper-Function</description>
		</wizard>
	</extension>

	<extension point="ch.hsr.ifs.iltis.core.core.extendedExampleInstallerWizard">
		<example wizardID="ch.hsr.ifs.cute.mockator.examples.WrapFun" pageImage="icons/genproject.gif">
			<projectDescriptor projectConfigurator="ch.hsr.ifs.cute.mockator.example.ui.ExampleProjectConfigurator" name="WrapFunctionExample" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.wrapfun.test/" description="An example project for Mockator Wrapper-Function"/>
		</example>
	</extension>
	
	<!-- WRAPFUN SHARED -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="ch.hsr.ifs.cute.mockator.examples.WrapFunShared"
			name="Mockator Wrapper-Function Shared-library Example"
			class="ch.hsr.ifs.iltis.core.core.ui.examples.ExtendedExampleInstallerWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
			category="org.eclipse.ui.Examples/ch.hsr.ifs.cute.mockator.Examples"
			icon="icons/genproject.gif"
			project="true">
			<description>An example project for Mockator Wrapper-Function</description>
		</wizard>
	</extension>

	<extension point="ch.hsr.ifs.iltis.core.core.extendedExampleInstallerWizard">
		<example wizardID="ch.hsr.ifs.cute.mockator.examples.WrapFunShared" pageImage="icons/genproject.gif">
			<projectDescriptor name="WrapFunctionSharedExampleLibrary" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.wrapfunshared.lib/" description="The shared library"/>
			<projectDescriptor projectConfigurator="ch.hsr.ifs.cute.mockator.example.ui.ExampleProjectConfigurator" name="WrapFunctionSharedExample" contentURI="projects/ch.hsr.ifs.cute.mockator.examples.wrapfunshared.test/" description="The test for the shared library"/>
		</example>
	</extension>

</plugin>
