/*/bin
*.class
/*/target/
/*/surefire-reports/
cute/cute_ws_linux/cute_tests_linux_gcc_std11/cute_tests_linux_gcc_std11.xml

cute/cute_ws_linux/cute_tests_linux_gcc_std11/cute_tests_linux_gcc_std11.xml

cute/cute_ws_linux/cute_tests_linux_gcc_std11/cute_tests_linux_gcc_std11.xml

cute/cute_ws_mac/cute_tests_mac_gcc_apple_421/.settings/language.settings.xml

cute/cute_ws_win_cl_exe/cute_test_cl_exe_ctp_nov_2012/cute_test_cl_exe_ctp_nov_2012.exe.xml

cute/cute_ws_win_cl_exe/cute_test_cl_exe_vs2012/cute_test_cl_exe_vs2012.exe.xml

cute/cute_ws_win_cl_exe/cute_test_mingw_with_boost/cute_test_mingw_with_boost.exe.xml

cute/cute_ws_win_cl_exe/cute_test_mingw_with_boost/cute_test_mingw_with_boost.exe.xml

cute/mac_osx_1084/
cute/mac_start_empty/
cute/new_cute_ws_mac/
ch.hsr.ifs.cute.swtbottest/screenshots/

ch.hsr.ifs.cute.boost.feature/target/ch.hsr.ifs.cute.boost.feature-1.42.0.qualifier.jar

testFileEditor.zip

org.rubypeople.rdt.showoffset_1.0.0.jar

ch.hsr.ifs.cdttesting/

cute/cute_sln_vs2010/cute_tests/cute_tests/cute_tests.exe.xml

cute/cute_sln_vs2010/cute_tests/cute_tests/cute_tests.exe.xml

cute/cute_ws_mac/cute_tests_mac_clang_libcpp/cute_tests_mac_clang_libcpp.xml

cute/cute_ws_mac/cute_tests_mac_clang_libcpp/cute_tests_mac_clang_libcpp.xml

cute/cute_ws_mac/cute_tests_mac_gcc_apple_421/cute_tests_mac_gcc_apple_421.xml

cute/cute_ws_mac/cute_tests_mac_gcc_apple_421/cute_tests_mac_gcc_apple_421.xml

cute/cute_ws_win_cl_exe/cute_test_cl_exe_vs2010_boost/cute_test_cl_exe_vs2010_boost.exe.xml

org.eclipse.cdt.testsrunner.cute.zip

ch.hsr.ifs.cute.framework.extension/library.jar
