<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.codan.core.checkers">
      <checker
            class="ch.hsr.ifs.cute.macronator.checker.ObjectLikeMacroChecker"
            id="ch.hsr.ifs.macronator.plugin.ObsoleteObjectLikeMacroChecker"
            name ="Object-like Macro Checker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Macro definition can be replaced with &apos;constexpr&apos; expression"
               id="ch.hsr.ifs.macronator.plugin.ObsoleteObjectLikeMacro"
               markerType="ch.hsr.ifs.cute.macronator.replaceMacroMarker"
               messagePattern="Macro definition can be replaced with &apos;constexpr&apos; expression"
               name="Obsolete object-like macro">
         </problem>
      </checker>
      <checker
            class="ch.hsr.ifs.cute.macronator.checker.FunctionLikeMacroChecker"
            id="ch.hsr.ifs.macronator.plugin.ObsoleteFunctionLikeMacroChecker"
            name="Function-like Macro Checker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Macro definition can be replaced with inline function"
               id="ch.hsr.ifs.macronator.plugin.ObsoleteFunctionLikeMacro"
               markerType="ch.hsr.ifs.cute.macronator.replaceMacroMarker"
               messagePattern="Macro definition can be replaced with inline function"
               name="Obsolete function-like macro">
         </problem>
      </checker>
      <checker
            class="ch.hsr.ifs.cute.macronator.checker.UnusedMacroChecker"
            id="ch.hsr.ifs.macronator.plugin.checker.UnusedMacroChecker"
            name="Unused Macro Checker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Macro is never used"
               id="ch.hsr.ifs.macronator.plugin.UnusedMacro"
               markerType="ch.hsr.ifs.cute.macronator.replaceMacroMarker"
               messagePattern="Macro is never used"
               name="Unused Macro">
         </problem>
      </checker>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
      <resolution
            class="ch.hsr.ifs.cute.macronator.quickfix.ObjectLikeQuickFix"
            problemId="ch.hsr.ifs.macronator.plugin.ObsoleteObjectLikeMacro">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.macronator.quickfix.FunctionLikeQuickFix"
            problemId="ch.hsr.ifs.macronator.plugin.ObsoleteFunctionLikeMacro">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.macronator.quickfix.UnusedMacroQuickfix"
            problemId="ch.hsr.ifs.macronator.plugin.UnusedMacro">
      </resolution>
   </extension>
    <extension
         point="org.eclipse.cdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="ch.hsr.ifs.cute.macronator.quickassist.LocalExpansionQuickAssist"
            id="ch.hsr.ifs.macronator.plugin.assist.LocalExpansion"
            name="ch.hsr.ifs.macronator.plugin.assist.LocalExpansionQuickAssist">
      </quickAssistProcessor>
      <quickAssistProcessor
            class="ch.hsr.ifs.cute.macronator.quickassist.GlobalExpansionQuickAssist"
            id="ch.hsr.ifs.macronator.plugin.assist.GlobalExpansion"
            name="ch.hsr.ifs.macronator.plugin.assist.GlobalExpansionQuickAssist">
      </quickAssistProcessor>
      <quickAssistProcessor
            class="ch.hsr.ifs.cute.macronator.quickassist.SuppressMacroQuickAssist"
            id="ch.hsr.ifs.macronator.plugin.assist.SuppressMacro"
            name="ch.hsr.ifs.macronator.plugin.assist.SuppressMacroQuickAssist">
      </quickAssistProcessor>
   </extension>
   <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           description="Expand Macro"
           id="ch.hsr.ifs.macronator.plugin.ExpandMacroRefactoring"
           label="My Refactoring Actions"
           visible="true">
        <menu
              label="Refactor"
              path="edit"
              id="org.eclipse.jdt.ui.refactoring.menu">
           <separator name="undoRedoGroup"/>
           <separator name="reorgGroup"/>
           <separator name="codingGroup"/>
           <separator name="reorgGroup2"/>
           <separator name="typeGroup"/>
           <separator name="typeGroup2"/>
           <separator name="codingGroup2"/>
           <separator name="myGroup"/>
           <separator name="typeGroup3"/>
           <separator name="scriptGroup"/>
       </menu>

        <action
              class="ch.hsr.ifs.cute.macronator.refactoring.ExpandMacroAction"
              enablesFor="*"
              id="ch.hsr.ifs.macronator.plugin.expand.ExpandMacroAction"
              label="Expand Macro"  
              menubarPath="org.eclipse.jdt.ui.refactoring.menu/macroGroup"
              style="push">
        </action>        
   </actionSet>
  </extension>
   
   <extension id="preferences" point="org.eclipse.core.runtime.preferences" name="preferences">
		<scope name="project" class="org.eclipse.core.internal.resources.ProjectPreferences"/>
	</extension>
   <extension
         id="ch.hsr.ifs.cute.macronator.replaceMacroMarker"
         name="Replace Macro Suggestion"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.codan.core.codanProblem">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.cdt.codan.internal.ui.CodanProblemMarkerResolutionGenerator"
            markerType="ch.hsr.ifs.cute.macronator.replaceMacroMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="ch.hsr.ifs.cute.macronator.replaceMacroMarker"
            name="ch.hsr.ifs.cute.macronator.replaceMacroAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="ch.hsr.ifs.cute.macronator.replaceMacroAnnotation"
             colorPreferenceKey="ch.hsr.ifs.cute.macronator.keys.replaceMacroAnnotation.colorPreference"
             colorPreferenceValue="255,255,0"
             contributesToHeader="true"
             highlightPreferenceKey="ch.hsr.ifs.cute.macronator.keys.replaceMacroAnnotation.highlightPreference"
             highlightPreferenceValue="false"
             icon="icons/icon-green-star.png"
             includeOnPreferencePage="true"
             isGoToNextNavigationTarget="true"
             isGoToNextNavigationTargetKey="ch.hsr.ifs.cute.macronator.keys.replaceMacroAnnotation.isGotoNextNavigationTarget"
             isGoToPreviousNavigationTarget="true"
             isGoToPreviousNavigationTargetKey="ch.hsr.ifs.cute.macronator.keys.replaceMacroAnnotation.isGotoPreviousNavigationTarget"
             label="Unregistered CUTE Test"
             overviewRulerPreferenceKey="ch.hsr.ifs.cute.macronator.keys.replaceMacroAnnotation.overviewRulerPreference"
             overviewRulerPreferenceValue="true"
             presentationLayer="0"
             quickFixIcon="icons/icon-green-star.png"
             showInNextPrevDropdownToolbarAction="true"
             showInNextPrevDropdownToolbarActionKey="ch.hsr.ifs.cute.macronator.keys.replaceMacroAnnotation.showInNextPrevDropdownToolbarAction"
             symbolicIcon="info"
             textPreferenceKey="ch.hsr.ifs.cute.macronator.keys.replaceMacroAnnotation.textPreference"
             textPreferenceValue="true"
             textStylePreferenceKey="ch.hsr.ifs.cute.macronator.keys.replaceMacroAnnotation.textStylePreference"
             textStylePreferenceValue="NONE"
             verticalRulerPreferenceKey="ch.hsr.ifs.cute.macronator.keys.replaceMacroAnnotation.verticalRulerPreference"
             verticalRulerPreferenceValue="true">
       </specification>
    </extension>
</plugin>
