<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Mockator Code Analysis Checkers"
         point="org.eclipse.cdt.codan.core.checkers">
      <category
            id="ch.hsr.ifs.cute.mockator.MockatorProblemCategory"
            name="%MockatorProblemCategoryDesc">
      </category>

      <checker
            class="ch.hsr.ifs.cute.mockator.incompleteclass.staticpoly.StaticPolymorphismChecker"
            id="ch.hsr.ifs.cute.mockator.StaticPolyMissingMemFunsResolution"
            name="%StaticPolyMissingMemberFunctionsCheckerName">
      <problem
            category="ch.hsr.ifs.cute.mockator.MockatorProblemCategory"
            defaultEnabled="false"
            defaultSeverity="Error"
            id="ch.hsr.ifs.cute.mockator.problems.StaticPolyMissingMemFunsProblem"
            messagePattern="%NeccesaryMemberFunctionsMissingMsg"
            name="%MissingMemberFunctionsInCompileSeamProblemName"/>
      </checker>

      <checker
            class="ch.hsr.ifs.cute.mockator.incompleteclass.subtype.SubtypePolymorphismChecker"
            id="ch.hsr.ifs.cute.mockator.SubtypePolyMissingMemFunsResolution"
            name="%SubtypePolyMissingMemberFunctionsCheckerName">
      <problem
            category="ch.hsr.ifs.cute.mockator.MockatorProblemCategory"
            defaultEnabled="false"
            defaultSeverity="Error"
            id="ch.hsr.ifs.cute.mockator.problems.SubtypeMissingMemFunsProblem"
            messagePattern="%NeccesaryMemberFunctionsMissingMsg"
            name="%MissingMemberFunctionsInObjectSeamProblemName"/>
      </checker>
      
      <checker
            class="ch.hsr.ifs.cute.mockator.testdouble.creation.staticpoly.MissingTestDoubleStaticPolyChecker"
            id="ch.hsr.ifs.cute.mockator.MissingTestDoubleStaticPolyChecker"
            name="%StaticPolyMissingTestDoubleCheckerName">
      <problem
            category="ch.hsr.ifs.cute.mockator.MockatorProblemCategory"
            defaultEnabled="false"
            defaultSeverity="Error"
            id="ch.hsr.ifs.cute.mockator.problems.MissingTestDoubleStaticPolyProblem"
            messagePattern="%StaticPolyTestDoubleMissingMsg"
            name="%StaticPolyMissingTestDoubleProblemName"/>
      </checker>

      <checker
            class="ch.hsr.ifs.cute.mockator.testdouble.creation.subtype.MissingTestDoubleSubTypeChecker"
            id="ch.hsr.ifs.cute.mockator.MissingTestDoubleSubTypeChecker"
            name="%SubTypeMissingTestDoubleCheckerName">
      <problem
            category="ch.hsr.ifs.cute.mockator.MockatorProblemCategory"
            defaultEnabled="false"
            defaultSeverity="Error"
            id="ch.hsr.ifs.cute.mockator.problems.MissingTestDoubleSubTypeProblem"
            messagePattern="%SubTypeTestDoubleMissingMsg"
            name="%SubTypeMissingTestDoubleProblemName"/>
      </checker>

      <checker
            class="ch.hsr.ifs.cute.mockator.mockobject.expectations.qf.InconsistentExpectationsChecker"
            id="ch.hsr.ifs.cute.mockator.InconsistentExpectationsChecker"
            name="%InconsistentExpectationsProblemName">
      <problem
            category="ch.hsr.ifs.cute.mockator.MockatorProblemCategory"
            defaultEnabled="false"
            defaultSeverity="Info"
            id="ch.hsr.ifs.cute.mockator.problems.InconsistentExpectationsProblem"
            messagePattern="%InconsistentExpectationsProblemMsg"
            name="%InconsistentExpectationsProblemName"/>
      </checker>

      <checker
            class="ch.hsr.ifs.cute.mockator.linker.wrapfun.gnuoption.GnuOptionChecker"
            id="ch.hsr.ifs.cute.mockator.WrapFunctionChecker"
            name="%WrapFunctionCheckerName">
      <problem
            category="ch.hsr.ifs.cute.mockator.MockatorProblemCategory"
            defaultEnabled="false"
            defaultSeverity="Info"
            id="ch.hsr.ifs.cute.mockator.problems.WrapFunctionProblem"
            messagePattern="%WrapFunctionProblemMsg"
            name="%WrapFunctionProblemName"/>
      </checker>

      <checker
            class="ch.hsr.ifs.cute.mockator.preprocessor.qf.TraceFunctionChecker"
            id="ch.hsr.ifs.cute.mockator.TraceFunctionChecker"
            name="%TraceFunctionCheckerName">
      <problem
            category="ch.hsr.ifs.cute.mockator.MockatorProblemCategory"
            defaultEnabled="false"
            defaultSeverity="Warning"
            id="ch.hsr.ifs.cute.mockator.problems.TraceFunctionProblem"
            messagePattern="%TraceFunctionProblemMsg"
            name="%TraceFunctionProblemName"/>
      </checker>
   </extension>

   <extension
          name="Mockator Marker Resolutions"
          point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
      <resolution
            class="ch.hsr.ifs.cute.mockator.testdouble.creation.staticpoly.CreateTestDoubleStaticPolyQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.MissingTestDoubleStaticPolyProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.testdouble.creation.subtype.CreateTestDoubleSubTypeQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.MissingTestDoubleSubTypeProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.fakeobject.FakeObjectQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.StaticPolyMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.fakeobject.FakeObjectQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.SubtypeMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.mockobject.qf.MockObjectByFunArgsQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.StaticPolyMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.mockobject.qf.MockObjectByFunsQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.StaticPolyMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.mockobject.qf.MockObjectByFunArgsQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.SubtypeMissingMemFunsProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.mockobject.qf.MockObjectByFunsQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.SubtypeMissingMemFunsProblem">
      </resolution>      
      <resolution
            class="ch.hsr.ifs.cute.mockator.linker.wrapfun.gnuoption.qf.DeleteWrappedFunctionQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.WrapFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.linker.wrapfun.gnuoption.qf.ActivateWrappedFunctionQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.WrapFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.linker.wrapfun.gnuoption.qf.DeactivateWrappedFunctionQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.WrapFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.preprocessor.qf.ActivateTraceFunctionQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.TraceFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.preprocessor.qf.DeactivateTraceFunctionQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.TraceFunctionProblem">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.mockator.mockobject.expectations.qf.ConsistentExpectationsQuickFix"
            problemId="ch.hsr.ifs.cute.mockator.problems.InconsistentExpectationsProblem">
      </resolution>
   </extension>

   <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="ch.hsr.ifs.cute.mockator.sourceActions"
          label="%TestSourceActionsActionSetLabel"
          visible="true">
       <menu
             id="ch.hsr.ifs.cute.mockator.menu"
             label="%TestSourceGeneratorsMenuLabel">
       </menu>
       <action
             class="ch.hsr.ifs.cute.mockator.mockobject.convert.ConvertToMockObjectDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.convertToMockObjectCommand"
             id="ch.hsr.ifs.cute.mockator.convertToMockObjectAction"
             label="%ConvertToMockObjectActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.mockobject.function.MockFunctionDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.mockFunctionCommand"
             id="ch.hsr.ifs.cute.mockator.mockFunctionAction"
             label="%MockFunctionActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.testdouble.movetons.MoveTestDoubleToNsDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.moveTestDoubleToNamespaceCommand"
             id=" ch.hsr.ifs.cute.mockator.moveTestDoubleToNamespaceAction"
             label="%MoveTestDoubleToNamespaceActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.linker.wrapfun.LinkerWrapFunDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.wrapFunctionObjectCommand"
             id="ch.hsr.ifs.cute.mockator.wrapFunctionObjectAction"
             label="%WrapFunctionActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.linker.shadowfun.ShadowFunctionDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.shadowFunctionObjectCommand"
             id="ch.hsr.ifs.cute.mockator.shadowFunctionObjectAction"
             label="%ShadowFunctionActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.preprocessor.PreprocessorDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.preprocessorCommand"
             id="ch.hsr.ifs.cute.mockator.preprocessorAction"
             label="%PreprocessorActionLabel">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.mockobject.togglefun.ToggleTracingFunCallDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.toogleTracingFunCallsCommand"
             id="ch.hsr.ifs.cute.mockator.toogleTracingFunCallsAction"
             label="%ToggleTracingFunCallsActionLabel">
       </action>
    </actionSet>
 </extension>
 
 <extension
       point="org.eclipse.ui.popupMenus">
    <viewerContribution
          id="ch.hsr.ifs.cute.mockator.cEditorContribution"
          targetID="#CEditorContext">
       <action
             class="ch.hsr.ifs.cute.mockator.mockobject.convert.ConvertToMockObjectDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.convertToMockObjectCommand"
             id="ch.hsr.ifs.cute.mockator.convertToMockObjectAction"
             label="%ConvertToMockObjectActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cute.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.mockobject.function.MockFunctionDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.mockFunctionCommand"
             id="ch.hsr.ifs.cute.mockator.mockFunctionAction"
             label="%MockFunctionActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cute.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.testdouble.movetons.MoveTestDoubleToNsDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.moveTestDoubleToNamespaceCommand"
             id="ch.hsr.ifs.cute.mockator.moveTestDoubleToNamespaceAction"
             label="%MoveTestDoubleToNamespaceActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cute.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.linker.wrapfun.LinkerWrapFunDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.wrapFunctionObjectCommand"
             id="ch.hsr.ifs.cute.mockator.wrapFunctionObjectAction"
             label="%WrapFunctionActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cute.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.linker.shadowfun.ShadowFunctionDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.shadowFunctionObjectCommand"
             id="ch.hsr.ifs.cute.mockator.shadowFunctionObjectAction"
             label="%ShadowFunctionActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cute.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.preprocessor.PreprocessorDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.preprocessorCommand"
             id="ch.hsr.ifs.cute.mockator.preprocessorAction"
             label="%PreprocessorActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cute.mockator.mockatorMenu">
       </action>
       <action
             class="ch.hsr.ifs.cute.mockator.mockobject.togglefun.ToggleTracingFunCallDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.toogleTracingFunCallsCommand"
             id="ch.hsr.ifs.cute.mockator.toogleTracingFunCallsAction"
             label="%ToggleTracingFunCallsActionLabel"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cute.mockator.mockatorMenu">
       </action>
       <menu
             id="ch.hsr.ifs.cute.mockator.mockatorMenu"
             label="%PluginVisibleName"
             path="org.eclipse.cdt.ui.source.menu">
          <groupMarker
                name="ch.hsr.ifs.cute.mockator.mockatorMenu">
          </groupMarker>
       </menu>
    </viewerContribution>
    <objectContribution
          id="ch.hsr.ifs.cute.mockator.addNature"
          objectClass="java.lang.Object">
       <visibility>
          <and>
             <or>
                <and>
                   <objectClass
                         name="org.eclipse.core.resources.IProject">
                   </objectClass>
                   <objectState
                         name="nature"
                         value="org.eclipse.cdt.core.ccnature">
                   </objectState>
                </and>
                <objectClass
                      name="org.eclipse.cdt.core.model.ICProject">
                </objectClass>
             </or>
             <not>
                <objectState
                      name="nature"
                      value="ch.hsr.ifs.cute.mockator.MockatorNature">
                </objectState>
             </not>
          </and>
       </visibility>
       <menu
             id="ch.hsr.ifs.cute.mockator"
             label="%PluginVisibleName"
             path="buildGroup">
          <groupMarker
                name="rebuild">
          </groupMarker>
          <separator
                name="nature">
          </separator>
       </menu>
       <action
             class="ch.hsr.ifs.cute.mockator.project.nature.AddNatureAction"
             definitionId="ch.hsr.ifs.cute.mockator.addNature"
             enablesFor="+"
             id="ch.hsr.ifs.cute.mockator.project.AddNatureAction"
             label="%AddNatureMenu"
             menubarPath="ch.hsr.ifs.cute.mockator/nature"
             style="push">
       </action>
    </objectContribution>
    <objectContribution
          id="ch.hsr.ifs.cute.mockator.removeNature"
          objectClass="java.lang.Object">
       <visibility>
          <and>
             <or>
                <and>
                   <objectClass
                         name="org.eclipse.core.resources.IProject">
                   </objectClass>
                   <objectState
                         name="nature"
                         value="org.eclipse.cdt.core.ccnature">
                   </objectState>
                </and>
                <objectClass
                      name="org.eclipse.cdt.core.model.ICProject">
                </objectClass>
             </or>
             <objectState
                   name="nature"
                   value="ch.hsr.ifs.cute.mockator.MockatorNature">
             </objectState>
          </and>
       </visibility>
       <menu
             id="ch.hsr.ifs.cute.mockator"
             label="%PluginVisibleName"
             path="buildGroup">
          <groupMarker
                name="rebuild">
          </groupMarker>
          <separator
                name="nature">
          </separator>
       </menu>
       <action
             class="ch.hsr.ifs.cute.mockator.project.nature.RemoveNatureAction"
             definitionId="ch.hsr.ifs.cute.mockator.removeNature"
             enablesFor="1"
             id="ch.hsr.ifs.cute.mockator.project.removeNatureAction"
             label="%RemoveNatureMenu"
             menubarPath="ch.hsr.ifs.cute.mockator/nature"
             style="push">
       </action>
    </objectContribution>
    <objectContribution
          id="ch.hsr.ifs.cute.mockator.project.togglePreloadFunction"
          objectClass="java.lang.Object">
       <visibility>
          <or>
             <and>
                <objectClass
                      name="org.eclipse.core.resources.IProject">
                </objectClass>
                <objectState
                      name="nature"
                      value="org.eclipse.cdt.core.ccnature">
                </objectState>
             </and>
             <objectClass
                   name="org.eclipse.cdt.core.model.ICProject">
             </objectClass>
          </or>
       </visibility>
       <action
             class="ch.hsr.ifs.cute.mockator.linker.wrapfun.ldpreload.TogglePreloadFunctionAction"
             enablesFor="+"
             id="ch.hsr.ifs.cute.mockator.project.togglePreloadFunction"
             label="%MaintainRunTimeWrappingMenu"
             menubarPath="ch.hsr.ifs.cute.mockator/nature"
             style="pulldown">
       </action>
    </objectContribution>
    <viewerContribution
          id="ch.hsr.ifs.cute.mockator.cEditorContribution"
          targetID="#CEditorContext">
       <action
             class="ch.hsr.ifs.cute.mockator.extractinterface.ui.ExtractInterfaceDelegate"
             definitionId="ch.hsr.ifs.cute.mockator.extractInterfaceCommand"
             id="ch.hsr.ifs.cute.mockator.extractInterfaceAction"
             label="%ExtractInterfaceActionLabel"
             menubarPath="org.eclipse.cdt.ui.refactoring.menu/codingGroup">
       </action>
    </viewerContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%ConvertToMockObjectCommandDescription"
          id="ch.hsr.ifs.cute.mockator.convertToMockObjectCommand"
          name="%ConvertToMockObjectCommandName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%MockFunctionCommandDescription"
          id="ch.hsr.ifs.cute.mockator.mockFunctionCommand"
          name="%MockFunctionCommandName">
    </command>    
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%MoveTestDoubleToNamespaceDescription"
          id="ch.hsr.ifs.cute.mockator.moveTestDoubleToNamespaceCommand"
          name="%MoveTestDoubleToNamespaceCommandName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%WrapFunctionCommandDescription"
          id="ch.hsr.ifs.cute.mockator.wrapFunctionObjectCommand"
          name="%WrapFunctionName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%ShadowFunctionCommandDescription"
          id="ch.hsr.ifs.cute.mockator.shadowFunctionObjectCommand"
          name="%ShadowFunctionName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%PreprocessorCommandDescription"
          id="ch.hsr.ifs.cute.mockator.preprocessorCommand"
          name="%PreprocessorName">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%ToggleTracingFunCallsCommandDescription"
          id="ch.hsr.ifs.cute.mockator.toogleTracingFunCallsCommand"
          name="%ToggleTracingFunCallsName">
    </command>
    <command
          id="ch.hsr.ifs.cute.mockator.addNature"
          name="%AddNatureMenu">
    </command>
    <command
          id="ch.hsr.ifs.cute.mockator.removeNature"
          name="%RemoveNatureMenu">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.refactoring"
          id="ch.hsr.ifs.cute.mockator.extractInterfaceCommand"
          name="%ExtractInterfaceCommandName">
    </command>
 </extension>
 
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="ch.hsr.ifs.cute.mockator.convertToMockObjectCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+C">
    </key>
    <key
          commandId="ch.hsr.ifs.cute.mockator.mockFunctionCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+Z">
    </key>
    <key
          commandId="ch.hsr.ifs.cute.mockator.moveTestDoubleToNamespaceCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+M">
    </key>
    <key
          commandId="ch.hsr.ifs.cute.mockator.wrapFunctionObjectCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+W">
    </key>
    <key
          commandId="ch.hsr.ifs.cute.mockator.shadowFunctionObjectCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+A">
    </key>
    <key
          commandId="ch.hsr.ifs.cute.mockator.preprocessorCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+R">
    </key>
    <key
          commandId="ch.hsr.ifs.cute.mockator.toogleTracingFunCallsCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+T">
    </key>    
 </extension>
 <extension
         point="ch.hsr.ifs.cute.ui.wizardAddition">
      <wizardAddition
            compositeProvider="ch.hsr.ifs.cute.mockator.project.cutewizard.MockatorWizardAddition">
      </wizardAddition>
 </extension>
 <extension
         id="ch.hsr.ifs.cute.mockator.MockatorNature"
         name="Mockator"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
            class="ch.hsr.ifs.cute.mockator.project.nature.MockatorNature">
         </run>
      </runtime>
      <one-of-nature id="ch.hsr.ifs.cute.mockator.stateSet"/>
      <requires-nature id="org.eclipse.cdt.core.ccnature"/>
</extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
      	 	name="%PluginVisibleName"
            class="ch.hsr.ifs.cute.mockator.project.properties.MockatorPropertyPage"
            id="ch.hsr.ifs.cute.mockator.MockatorPropertyPage">
         	<enabledWhen>
		    	<adapt type="org.eclipse.core.resources.IProject">
					<test
            			property="org.eclipse.core.resources.projectNature"
            			value="ch.hsr.ifs.cute.mockator.MockatorNature" />
		    	</adapt>
         	</enabledWhen>
      </page>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            description="Action set containing coding related C/C++ actions"
            id="ch.hsr.ifs.cute.mockator.extractInterfaceAction"
            label="C/C++ Coding"
            visible="true">
         <menu id="org.eclipse.jdt.ui.refactoring.menu" label="Refac&amp;tor">
         	<separator name="reorgGroup"></separator>
         	<separator name="codingGroup"></separator>
         </menu>
         <action
               class="ch.hsr.ifs.cute.mockator.extractinterface.ui.ExtractInterfaceDelegate"
               id="ch.hsr.ifs.cute.mockator.extractInterfaceAction"
               definitionId="ch.hsr.ifs.cute.mockator.extractInterfaceCommand"
               label="%ExtractInterfaceActionLabel"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup">
         	<enablement>
               <objectClass
                     name="org.eclipse.jface.text.ITextSelection">
               </objectClass>
            </enablement>
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="ch.hsr.ifs.cute.mockator.extractinterface.ExtractInterfaceContribution"
            id="ch.hsr.ifs.cute.mockator.extractinterface.ExtractInterfaceRefactoring">
      </contribution>
   </extension>

</plugin>
