<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension	point="org.eclipse.cdt.codan.core.checkers">
	
		<checker
	 		class="ch.hsr.ifs.cute.elevator.checker.InitializationChecker"
	 		id="ch.hsr.ifs.elevator.uniformInitialization"
	 		name="C++ Enhancements Checker">
	 		
		    <problem               
			   	defaultEnabled="false"
			   	defaultSeverity="Warning"
			   	description="Elevator Initialization Warning"
			   	id="ch.hsr.ifs.elevator.uninitialized"
			   	name="Un- or ill-initialized variables"
			   	markerType="ch.hsr.ifs.cute.elevator.elevationProblemMarker"
			   	category="ch.hsr.ifs.elevator.enhancements"
			   	messagePattern="Un- or ill-initialized variable found">
		    </problem>
		    
		    <problem               
				defaultEnabled="false"
			   	defaultSeverity="Warning"
			   	description="Elevator Initialization Warning"
			   	id="ch.hsr.ifs.elevator.defaultctor"
			   	name="Replaceable default constructor calls"
			   	markerType="ch.hsr.ifs.cute.elevator.elevationProblemMarker"
			   	category="ch.hsr.ifs.elevator.enhancements"
			   	messagePattern="Replaceable default constructor call">
		    </problem>
      <problem
            category="ch.hsr.ifs.elevator.enhancements"
            defaultEnabled="false"
            defaultSeverity="Warning"
            description="Elevator Initialization Warning"
            id="ch.hsr.ifs.elevator.nullMacro"
            markerType="ch.hsr.ifs.cute.elevator.elevationProblemMarker"
            messagePattern="Replaceable NULL macro reference"
            name="NULL macro for nullptr replacement">
      </problem>
		    
		</checker>	
		
		<category id="ch.hsr.ifs.elevator.enhancements" name="C++11 code enhancements" />    	
		
  	</extension> 
	
  	<extension point="org.eclipse.cdt.codan.ui.codanMarkerResolution">  
  		<resolution
            class="ch.hsr.ifs.cute.elevator.quickfix.InitializationQuickFix"
            problemId="ch.hsr.ifs.elevator.uninitialized">
    	</resolution>      	
    	
    	<resolution
            class="ch.hsr.ifs.cute.elevator.quickfix.InitializationQuickFix"
            problemId="ch.hsr.ifs.elevator.defaultctor">
    	</resolution>
     <resolution
           class="ch.hsr.ifs.cute.elevator.quickfix.NullMacroQuickFix"
           messagePattern="Replace NULL macro with nullptr"
           problemId="ch.hsr.ifs.elevator.nullMacro">
     </resolution>    	
	</extension>
   <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           description="Elevate Project"
           id="ch.hsr.ifs.elevator.plugin.refactoring.ElevateProjectRefactoring"
           label="My Refactoring Actions"
           visible="true">
        <menu
              label="Refactor"
              path="edit"
              id="org.eclipse.jdt.ui.refactoring.menu">
           <separator name="undoRedoGroup"/>
           <separator name="reorgGroup"/>
           <separator name="codingGroup"/>
           <separator name="reorgGroup2"/>
           <separator name="typeGroup"/>
           <separator name="typeGroup2"/>
           <separator name="codingGroup2"/>
           <separator name="myGroup"/>
           <separator name="typeGroup3"/>
           <separator name="scriptGroup"/>
       </menu>

        <action
              class="ch.hsr.ifs.cute.elevator.refactoring.ElevateProjectAction"
              enablesFor="*"
              id="ch.hsr.ifs.elevator.plugin.refactoring.ElevateProjectAction"
              label="Elevate Project"  
              menubarPath="org.eclipse.jdt.ui.refactoring.menu/myGroup"
              style="push">
        </action>     
   </actionSet>
  </extension>
  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="ch.hsr.ifs.cute.elevator.elevateAnnotation"
             colorPreferenceKey="ch.hsr.ifs.cute.elevator.keys.elevationSuggestion.colorPreference"
             colorPreferenceValue="255,255,0"
             contributesToHeader="true"
             highlightPreferenceKey="ch.hsr.ifs.cute.elevator.keys.elevationSuggestion.highlightPreference"
             highlightPreferenceValue="false"
             icon="icons/icon-green-star.png"
             includeOnPreferencePage="true"
             isGoToNextNavigationTarget="true"
             isGoToNextNavigationTargetKey="ch.hsr.ifs.cute.elevator.keys.elevationSuggestion.isGotoNextNavigationTarget"
             isGoToPreviousNavigationTarget="true"
             isGoToPreviousNavigationTargetKey="ch.hsr.ifs.cute.elevator.keys.elevationSuggestion.isGotoPreviousNavigationTarget"
             label="Elevation Suggestion"
             overviewRulerPreferenceKey="ch.hsr.ifs.cute.elevator.keys.elevationSuggestion.overviewRulerPreference"
             overviewRulerPreferenceValue="true"
             presentationLayer="0"
             quickFixIcon="icons/icon-green-star.png"
             showInNextPrevDropdownToolbarAction="true"
             showInNextPrevDropdownToolbarActionKey="ch.hsr.ifs.cute.elevator.keys.elevationSuggestion.showInNextPrevDropdownToolbarAction"
             symbolicIcon="info"
             textPreferenceKey="ch.hsr.ifs.cute.elevator.keys.elevationSuggestion.textPreference"
             textPreferenceValue="false"
             textStylePreferenceKey="ch.hsr.ifs.cute.elevator.keys.elevationSuggestion.textStylePreference"
             textStylePreferenceValue="SQUIGGLES"
             verticalRulerPreferenceKey="ch.hsr.ifs.cute.elevator.keys.elevationSuggestion.verticalRulerPreference"
             verticalRulerPreferenceValue="true">
       </specification>
    </extension>
    <extension
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerSeverity="1"
             markerType="ch.hsr.ifs.cute.elevator.elevationProblemMarker"
             name="ch.hsr.ifs.cute.elevator.elevateAnnotation"
             super="org.eclipse.ui.workbench.texteditor.info">
       </type>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerResolution">
       <markerResolutionGenerator
             class="org.eclipse.cdt.codan.internal.ui.CodanProblemMarkerResolutionGenerator"
             markerType="ch.hsr.ifs.cute.elevator.elevationProblemMarker">
       </markerResolutionGenerator>
    </extension>
    <extension
          id="ch.hsr.ifs.cute.elevator.elevationProblemMarker"
          name="Elevation Suggestion"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <super
             type="org.eclipse.core.resources.textmarker">
       </super>
       <super
             type="org.eclipse.cdt.codan.core.codanProblem">
       </super>
       <persistent
             value="false">
       </persistent>
    </extension>
    
    <extension point="ch.hsr.ifs.cute.elevenator.versionmodification">
       <CPP_14>
       		<versionModification
               checkedByDefault="true"
               name="Enable Elevator"
               operationClass="ch.hsr.ifs.cute.elevator.operation.EnableElevatorOperation">
         	</versionModification>
       </CPP_14>
       <CPP_17>
         	<versionModification
               checkedByDefault="true"
               name="Enable Elevator"
               operationClass="ch.hsr.ifs.cute.elevator.operation.EnableElevatorOperation">
         	</versionModification>
       </CPP_17>
       <CPP_11>
         	<versionModification
               checkedByDefault="true"
               name="Enable Elevator"
               operationClass="ch.hsr.ifs.cute.elevator.operation.EnableElevatorOperation">
         	</versionModification>
       </CPP_11>
    </extension>
    
</plugin>
