<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.cdt.testsrunner.TestsRunner">
      <runner
            class="org.eclipse.cdt.testsrunner.internal.cute.CUTETestsRunner"
            description="Tests runner for a test module based on CUTE test framework (http://www.cute-test.com). "
            id="org.eclipse.cdt.testsrunner.cute"
            name="CUTE Tests Runner">
      </runner>
   </extension>
</plugin>
