<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="GcovNature"
         name="Gcov Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.ginkgo.gcov.GcovNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="coverageMarker"
         name="coverageMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="lineCoverMarker"
         name="lineCoverMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="ch.hsr.ifs.cute.gcov.coverageMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="lineUnCoverMarker"
         name="lineUnCoverMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="ch.hsr.ifs.cute.gcov.coverageMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
    <extension
         id="linePartialCoverMarker"
         name="linePartialCoverMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="ch.hsr.ifs.cute.gcov.coverageMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="ch.hsr.ifs.cute.gcov.lineCoverMarker"
            name="ch.hsr.ifs.cute.gcov.lineCoverAnnotationType">
      </type>
      <type
            markerType="ch.hsr.ifs.cute.gcov.lineUnCoverMarker"
            name="ch.hsr.ifs.cute.gcov.lineUnCoverAnnotationType">
      </type>
      <type
            markerType="ch.hsr.ifs.cute.gcov.linePartialCoverMarker"
            name="ch.hsr.ifs.cute.gcov.linePartialCoverAnnotationType">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="ch.hsr.ifs.cute.gcov.lineCoverAnnotationType"
            colorPreferenceKey="lineCoverColor"
            colorPreferenceValue="192,255,192"
            contributesToHeader="true"
            highlightPreferenceKey="lineCoverHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="Line Covered"
            overviewRulerPreferenceKey="lineCoverOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="lineCoverNextPrev"
            textPreferenceKey="lineCoverText"
            textPreferenceValue="true"
            textStylePreferenceValue="IBEAM"
            verticalRulerPreferenceKey="lineCoverVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ch.hsr.ifs.cute.gcov.lineUnCoverAnnotationType"
            colorPreferenceKey="lineUnCoverColor"
            colorPreferenceValue="255,160,160"
            contributesToHeader="true"
            highlightPreferenceKey="lineCoverHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="Line Not Covered"
            overviewRulerPreferenceKey="lineUnCoverOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="lineUnCoverNextPrev"
            textPreferenceKey="lineUnCoverText"
            textPreferenceValue="true"
            textStylePreferenceValue="IBEAM"
            verticalRulerPreferenceKey="lineUnCoverVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ch.hsr.ifs.cute.gcov.linePartialCoverAnnotationType"
            colorPreferenceKey="linePartialCoverColor"
            colorPreferenceValue="255,255,128"
            contributesToHeader="true"
            highlightPreferenceKey="linePartialCoverHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="Line Partially Covered"
            overviewRulerPreferenceKey="linePartialCoverOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="linePartialCoverNextPrev"
            textPreferenceKey="linePartialCoverText"
            textPreferenceValue="true"
            textStylePreferenceValue="IBEAM"
            verticalRulerPreferenceKey="linePartialCoverVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="sampleAction.actionSet"
            label="A sample set of actions"
            visible="true">
         <action
               class="org.ginkgo.gcov.action.ToggleCoveredLineAction"
               icon="icons/cover.gif"
               id="sampleaction.actions.PrefAction"
               label="cover(&amp;S)"
               state="true"
               style="toggle"
               toolbarPath="sampleGroup"
               tooltip="pref">
         </action>
         <action
               class="org.ginkgo.gcov.action.ToggleUnCoveredLineAction"
               icon="icons/uncover.gif"
               id="sampleaction.actions.UncoverAction"
               label="uncover(&amp;S)"
               state="true"
               style="toggle"
               toolbarPath="sampleGroup"
               tooltip="pref">
         </action>
      </actionSet>
   </extension>

</plugin>
