<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="Headers" name="%extension-point.name.0" schema="schema/ch.hsr.ifs.cute.ui.headers.exsd"/>
<extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.cdt.ui.newCCWizards"
          finalPerspective="org.eclipse.cdt.ui.CPerspective"
          icon="icons/ovr16/cute_ovr.gif"
          id="cute_plugin.wizard1"
          name="%wizard.name.Suite">
    <class class="ch.hsr.ifs.cute.ui.project.wizard.NewSuiteFileCreationWizard">
            <parameter name="cfile" value="true"/>
         </class>
         <description>
            %wizard.description.AddingSuite
         </description>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="ch.hsr.ifr.cutelauncher.sourceGeneratorActions"
          label="%actionSet.label.TestSourceActions"
          visible="true">
       <menu
             id="ch.hsr.ifs.cutelauncher.menu"
             label="%menu.label.TestSourceGenereators">
       </menu>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.NewTestFunctionActionDelegate"
             definitionId="ch.hsr.ifs.cutelauncher.newTestFunctionCommand"
             id="ch.hsr.ifs.cutelauncher.newTestFunctionAction"
             label="%action.label.NewTestFunction">
          
       </action>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.AddTestFunctiontoSuiteDelegate"
             definitionId="ch.hsr.ifs.cutelauncher.addTestFunctionCommand"
             id="ch.hsr.ifs.cutelauncher.addFunctionToSuiteAction"
             label="%action.label.AddTestFunction"
             style="push"
             tooltip="%addFuncToSuiteDesc">
       </action>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.AddTestFunctortoSuiteDelegate"
             definitionId="ch.hsr.ifs.cutelauncher.addTestFunctorCommand"
             id="ch.hsr.ifs.cutelauncher.addFunctorToSuiteAction"
             label="%action.label.AddFunctor"
             style="push"
             tooltip="%addFtorToSuiteDesc">
       </action>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.AddTestMembertoSuiteDelegate"
             definitionId="ch.hsr.ifs.cutelauncher.addTestMemberCommand"
             id="ch.hsr.ifs.cutelauncher.addMemberToSuiteAction"
             label="%action.label.AddTestMember"
             style="push"
             tooltip="%addMemberToSuitDesc">
       </action>
    </actionSet>
 </extension>
 
  <extension
       point="org.eclipse.ui.popupMenus">
    <viewerContribution
          id="ch.hsr.ifs.cutelauncher.cEditorContribution"
          targetID="#CEditorContext">
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.AddTestMembertoSuiteDelegate"
             definitionId="ch.hsr.ifs.cutelauncher.addTestMemberCommand"
             id="ch.hsr.ifs.cutelauncher.addTestMemberSuiteAction"
             label="%action.label.AddTestMember2"
             menubarPath="org.eclipse.cdt.ui.source.menu/addTestMenu/addTestGroup">
       </action>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.AddTestFunctortoSuiteDelegate"
             definitionId="ch.hsr.ifs.cutelauncher.addTestFunctorCommand"
             id="ch.hsr.ifs.cutelauncher.addTestFunctorSuiteAction"
             label="%action.label.AddFunctor2"
             menubarPath="org.eclipse.cdt.ui.source.menu/addTestMenu/addTestGroup">
       </action>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.AddTestFunctiontoSuiteDelegate"
             definitionId="ch.hsr.ifs.cutelauncher.addTestFunctionCommand"
             id="ch.hsr.ifs.cutelauncher.addTestFunctionSuiteAction"
             label="%action.label.AddTestFunction2"
             menubarPath="org.eclipse.cdt.ui.source.menu/addTestMenu/addTestGroup">
       </action>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.NewTestFunctionActionDelegate"
             definitionId="ch.hsr.ifs.cutelauncher.newTestFunctionCommand"
             id="ch.hsr.ifs.cutelauncher.newTestFunctionAction"
             label="%action.label.NewTestFunction2"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cutelauncher.testCodeMenu">
       </action>

       <menu
             id="ch.hsr.ifs.cutelauncher.testCodeMenu"
             label="%menu.label.TestCode"
             path="org.eclipse.cdt.ui.source.menu">
          <groupMarker
                name="ch.hsr.ifs.cutelauncher.testCodeMenu">
          </groupMarker>
       </menu>
       <menu
             id="addTestMenu"
             label="%menu.label.AddTest"
             path="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cutelauncher.testCodeMenu">
          <groupMarker
                name="addTestGroup">
          </groupMarker>
       </menu>
    </viewerContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%command.description.CreateTestFunction"
          id="ch.hsr.ifs.cutelauncher.newTestFunctionCommand"
          name="%command.name.NewTestFunction">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%addMemberToSuitDesc"
          id="ch.hsr.ifs.cutelauncher.addTestMemberCommand"
          name="%command.name.AddTestMember">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%addFtorToSuiteDesc"
          id="ch.hsr.ifs.cutelauncher.addTestFunctorCommand"
          name="%command.name.AddFunctor">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%addFuncToSuiteDesc"
          id="ch.hsr.ifs.cutelauncher.addTestFunctionCommand"
          name="%command.name.AddTestFunction">
    </command>
    <command
          id="ch.hsr.ifs.cute.ui.changeCuteVersion"
          name="%command.name.0">
    </command>
    <command
          id="ch.hsr.ifs.cute.ui.changeCuteVersionAction"
          name="%command.name.1">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="ch.hsr.ifs.cutelauncher.newTestFunctionCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+F">
    </key>
 </extension>
 
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="ch.hsr.ifs.cute.ui.project.ProjectNaturePropertyTester"
          id="ch.hsr.ifs.ProjectNaturePropertyTester"
          namespace="ch.hsr.ifs"
          properties="projectNature1"
          type="org.eclipse.core.runtime.IAdaptable">
    </propertyTester>
 </extension>

 <extension
       id="cuteProblem"
       name="%extension.name.0"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <super
          type="org.eclipse.core.resources.textmarker">
    </super>
    <persistent
          value="false">
    </persistent>
 </extension>
   <extension
       point="org.eclipse.ui.navigator.navigatorContent">
 <commonWizard
            associatedExtensionId="org.eclipse.cdt.ui.navigator.content"
            menuGroupId="org.eclipse.cdt.ui"
            type="new"
            wizardId="cute_plugin.wizard1">
		 <enablement>
			<or>
				<instanceof value="org.eclipse.cdt.core.model.ICElement" />	
	            <adapt type="org.eclipse.core.resources.IProject">
	               <test
	                     property="org.eclipse.core.resources.projectNature"
	                     value="org.eclipse.cdt.core.cnature"/>
	            </adapt>
			</or>
         </enablement>
	   </commonWizard>
 </extension>
 
    <extension
         id="ch.hsr.ifs.cute.ui.cutenature"
         name="%extension.name.1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ch.hsr.ifs.cute.ui.project.CuteNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.cdt.core.cnature">
      </requires-nature>
   </extension>
 
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/ovr16/cute_ovr.gif"
          id="ch.hsr.ifs.cutelauncher.cuteProjectImage"
          natureId="ch.hsr.ifs.cute.ui.cutenature">
    </image>
 </extension>
 
    <extension
         id="cute wizard"
         name="%extension.name.2"
         point="org.eclipse.cdt.ui.CDTWizard">
      <wizard
            class="ch.hsr.ifs.cute.ui.project.wizard.NewCuteProjectWizard"
            name="CUTE">
      </wizard>
      <wizard
            class="ch.hsr.ifs.cute.ui.project.wizard.NewCuteLibProjectWizard"
            name="CUTE Library Test Project"
            parent="ch.hsr.ifs.cute.ui.project.wizard.NewCuteSuiteWizard">
      </wizard>
    <wizard
          class="ch.hsr.ifs.cute.ui.project.wizard.NewCuteSuiteWizard"
          name="CUTE Suite Module"
          parent="ch.hsr.ifs.cute.ui.project.wizard.NewCuteProjectWizard">
    </wizard>
   </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="cute_ui_plugin.objectContribution1"
             objectClass="org.eclipse.core.resources.IProject">
         <visibility>
              <objectState
                 name="projectNature"
                 value="ch.hsr.ifs.cute.ui.cutenature"/>
         </visibility>
         <menu
               id="ch.hsr.ifs.cute.ui"
               label="%menu.label.0"
               path="buildGroup">
            <groupMarker name="rebuild"/>
            <separator name="update"/>
         </menu>
          <action
                class="ch.hsr.ifs.cute.ui.actions.ChangeCuteVersionAction"
                definitionId="ch.hsr.ifs.cute.ui.changeCuteVersion"
                id="i"
                label="%action.label.0"
                menubarPath="ch.hsr.ifs.cute.ui/update"
                style="push">
          </action>
       </objectContribution>
    </extension>
    <extension
          point="org.eclipse.mylyn.tasks.core.templates">
       <repository
             addAutomatically="true"
             anonymous="true"
             label="CUTE Trac"
             repositoryKind="trac"
             urlRepository="http://r2.ifs.hsr.ch/cute"
             version="XML_RPC">
       </repository>
    </extension>

</plugin>
