<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="cdt" sequenceNumber="37">
<locations>
<location path="${workspace_loc}\testing-project" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.2.0.I20120608-1400"/>
<unit id="org.eclipse.platform.sdk" version="4.2.0.I20120608-1400"/>
<unit id="org.eclipse.sdk.ide" version="4.2.0.I20120608-1400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="8.1.0.201206111645"/>
<unit id="org.eclipse.cdt.msw.feature.group" version="1.0.0.201206111645"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
</locations>
</target>
