<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ch.hsr.ifs.cute.core.launch.CuteLauncherDelegate"
            id="ch.hsr.ifs.cutelauncher.launchConfig"
            modes="run"
            name="%launchConfigurationType.name.0"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/obj16/cute_app.png"
            configTypeID="ch.hsr.ifs.cutelauncher.launchConfig"
            id="ch.hsr.ifs.cutelauncher.LaunchConfigImage">
      </launchConfigurationTypeImage>
  </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ch.hsr.ifs.cute.core.CuteRunLaunchConfigTabGroup"
            id="ch.hsr.ifs.cutelauncher.launchConfigurationTabGroup"
            type="ch.hsr.ifs.cutelauncher.launchConfig"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%shortcut.label.0"
            icon="icons/obj16/cute_app.png"
            modes="run"
            class="ch.hsr.ifs.cute.core.launch.CuteLaunchShortcut"
            id="ch.hsr.ifs.cutelauncher.cuteShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="ch.hsr.ifs.projectNature1"
                           value="ch.hsr.ifs.cute.ui.cutenature">
                     </test>
                     <or>
                        <test
                              property="org.eclipse.cdt.launch.isExecutable">
                        </test>
                        <instanceof
                              value="org.eclipse.cdt.core.model.ICProject">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </or>
                  </and>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%contextLabel.label.0"/>
  		 </contextualLaunch>
      </shortcut>
   </extension>
	   
   </plugin>
