<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point 
   		 id="ch.hsr.ifs.cute.elevenator.versionmodification" 
   		 name="Version Modification Operations" 
   		 schema="schema/ch.hsr.ifs.cute.elevenator.versionmodification.exsd"
   />
   <extension
         point="org.eclipse.cdt.managedbuilder.ui.newWizardPages">
      <wizardPage
            ID="ch.hsr.ifs.cute.elevenator.wizardpage.version"
            operationClass="ch.hsr.ifs.cute.elevenator.SelectVersionOperation"
            pageClass="ch.hsr.ifs.cute.elevenator.view.SelectVersionWizardPage">
         <projectType
               projectTypeID="cdt.managedbuild.target.gnu.mingw.exe">
         </projectType>
         <toolchain
               toolchainID="cdt.managedbuild.toolchain.gnu.mingw.exe.debug">
         </toolchain>
         <nature
               natureID="org.eclipse.cdt.core.ccnature">
         </nature>
      </wizardPage>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="ch.hsr.ifs.cute.elevenator.preferences.CPPVersionSelectionPreferencePage"
            id="ch.hsr.ifs.cute.elevenator.preferences.CPPVersionSelectionPreferencePage"
            name="%preferencePage.version.name">
         <keywordReference
               id="ch.hsr.ifs.cute.elevenator.keyword.version">
         </keywordReference>
         <keywordReference
               id="org.eclipse.cdt.ui.common">
         </keywordReference>
      </page>
   </extension>
   <extension
         id="ch.hsr.ifs.cute.elevenator.prefs.selection"
         name="Version Selection"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.hsr.ifs.cute.elevenator.preferences.CPPVersionPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="ch.hsr.ifs.cute.elevenator.keyword.version"
            label="%preferenceKeywords.version">
      </keyword>
   </extension>
   <extension
         point="ch.hsr.ifs.cute.elevenator.versionmodification">
      <ALL_VERSIONS>
         <versionModification
               checkedByDefault="true"
               name="Set Compiler Flag"
               operationClass="ch.hsr.ifs.cute.elevenator.operation.ChangeCompilerFlagOperation">
         </versionModification>
         <versionModification
               checkedByDefault="true"
               name="Set Index Flag"
               operationClass="ch.hsr.ifs.cute.elevenator.operation.ChangeIndexFlagOperation">
         </versionModification>
      </ALL_VERSIONS>
      <CPP_14>
         <versionModification
               checkedByDefault="true"
               name="Enable Elevator"
               operationClass="ch.hsr.ifs.cute.elevenator.operation.EnableElevatorOperation">
         </versionModification></CPP_14>
      <CPP_17>
         <versionModification
               checkedByDefault="true"
               name="Enable Elevator"
               operationClass="ch.hsr.ifs.cute.elevenator.operation.EnableElevatorOperation">
         </versionModification></CPP_17>
      <CPP_11>
         <versionModification
               checkedByDefault="true"
               name="Enable Elevator"
               operationClass="ch.hsr.ifs.cute.elevenator.operation.EnableElevatorOperation">
         </versionModification>
      </CPP_11>
      
   </extension>

</plugin>
