<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.ui.newWizardPages">
      <wizardPage
            ID="ch.hsr.ifs.cute.elevenator.wizardPage1"
            operationClass="ch.hsr.ifs.cute.elevenator.SelectVersionOperation"
            pageClass="ch.hsr.ifs.cute.elevenator.SelectVersionWizardPage">
         <projectType
               projectTypeID="cdt.managedbuild.target.gnu.mingw.exe">
         </projectType>
         <toolchain
               toolchainID="cdt.managedbuild.toolchain.gnu.mingw.exe.debug">
         </toolchain>
         <nature
               natureID="org.eclipse.cdt.core.ccnature">
         </nature>
      </wizardPage>
   </extension>

</plugin>
