<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ch.hsr.ifs.cute.namespactor.namespacerefactoring"
            label="C/C++ Coding"
            visible="true">
         <menu id="org.eclipse.jdt.ui.refactoring.menu" label="Refac&amp;tor">
         	<separator name="codingGroup"></separator>
         </menu> 
		 <action
               class="ch.hsr.ifs.cute.namespactor.ui.qun.QUNRefactoringActionDelegate"
               id="ch.hsr.ifs.cute.namespactor.qun"
               label="Qualify Unqualified Name..."
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup">
         </action>         
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.iu.IURefactoringActionDelegate"
               id="ch.hsr.ifs.cute.namespactor.iu"
               label="Inline Using ..."
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup">
         </action>         
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.eudir.EUDirRefactoringActionDelegate"
               id="ch.hsr.ifs.cute.namespactor.extract"
               label="Extract Using Namespace Directive..."
               tooltip="Extract 'using namespace'"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup">
         </action>
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.eudec.EUDecRefactoringActionDelegate"
               id="ch.hsr.ifs.cute.namespactor.eudec"
               label="Extract Namespace Using Declaration..."
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup">
         </action>
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.td2a.TD2ARefactoringActionDelegate"
               icon="icons/icon-green-star.png"
               id="ch.hsr.ifs.cute.namespactor.td2a"
               label="typedef2alias"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
               style="push">
         </action>
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.itda.ITDARefactoringActionDelegate"
               icon="icons/icon-green-star.png"
               id="ch.hsr.ifs.cute.namespactor.itda"
               label="inlinetypealias"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
               style="push">
         </action>
      </actionSet>
   </extension>
     <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            description="ExtractUsingDeclarationRefactoring"
            id="ch.hsr.ifs.cute.namespactor.ui.eudec.Refactoring"
            name="EUDECRefactoring"
            >
      </command>
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            description="Extract Using Directive "
            id="ch.hsr.ifs.cute.namespactor.ui.eudir.Refactoring"
            name="EUDIRRefactoring">
      </command>
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            description="Qualify Unqualified Name "
            id="ch.hsr.ifs.cute.namespactor.ui.qun.Refactoring"
            name="QUNRefactoring">
      </command>
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            description="typedef to alias"
            id="ch.hsr.ifs.cute.namespactor.ui.td2a.Refactoring"
            name="TD2ARefactoring">
      </command>
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            description="inline type alias"
            id="ch.hsr.ifs.cute.namespactor.ui.idta.Refactoring"
            name="ITDARefactoring">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="ch.hsr.ifs.cute.namespactor.namespacerefactorings"
            targetID="#CEditorContext">
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.eudec.EUDecRefactoringActionDelegate"
               definitionId="ch.hsr.ifs.cute.namespactor.ui.eudec.Refactoring"
               id="ch.hsr.ifs.cute.namespactor.ui.eudec.1"
               label="Extract Using Declaration"
               menubarPath="org.eclipse.cdt.ui.refactoring.menu/codingGroup">
         </action>
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.eudir.EUDirRefactoringActionDelegate"
               definitionId="ch.hsr.ifs.cute.namespactor.ui.eudir.Refactoring"
               id="ch.hsr.ifs.cute.namespactor.ui.eudir.1"
               label="Extract 'using namespace'"
               menubarPath="org.eclipse.cdt.ui.refactoring.menu/codingGroup">
         </action>
		 <action
         class="ch.hsr.ifs.cute.namespactor.ui.qun.QUNRefactoringActionDelegate"
         definitionId="ch.hsr.ifs.cute.namespactor.ui.qun.Refactoring"
         id="ch.hsr.ifs.cute.namespactor.qun.1"
         label="Qualify Unqualified Name..."
         menubarPath="org.eclipse.cdt.ui.refactoring.menu/codingGroup">
         </action>         
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.iu.IURefactoringActionDelegate"
               id="ch.hsr.ifs.cute.namespactor.iu.1"
               label="Inline Using ..."
               menubarPath="org.eclipse.cdt.ui.refactoring.menu/codingGroup">
         </action>
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.td2a.TD2ARefactoringActionDelegate"
               definitionId="ch.hsr.ifs.cute.namespactor.ui.td2a.Refactoring"
               icon="icons/icon-green-star.png"
               id="ch.hsr.ifs.cute.namespactor.td2a.1"
               label="typedef to alias"
               menubarPath="org.eclipse.cdt.ui.refactoring.menu/codingGroup">
         </action>
         <action
               class="ch.hsr.ifs.cute.namespactor.ui.itda.ITDARefactoringAction"
               icon="icons/icon-green-star.png"
               id="ch.hsr.ifs.cute.namespactor.itda.1"
               label="inline type alias"
               menubarPath="org.eclipse.cdt.ui.refactoring.menu/codingGroup">
         </action>         
      </viewerContribution>
   </extension>

</plugin>
