<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="neon" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.test.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.hsr.ifs.cdttesting.feature.feature.group" version="0.0.0"/>
<unit id="ch.hsr.ifs.cdttesting.tools.feature.feature.group" version="0.0.0"/>
<repository location="http://www.cevelop.com/cdt-testing/development"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
<repository location="https://hudson.eclipse.org/cdt/job/launchbar-master/lastSuccessfulBuild/artifact/repo/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="2.2.4.v201311231704"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="8.8.0.201512031724"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.8.0.201512031724"/>
<repository location="http://walrus.arknet.ch/p2/cdt"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.8 -XX:MaxPermSize=256m -Xms256m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
