<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Mockator" sequenceNumber="1524580930">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.hsr.ifs.cute.feature.feature.group" version="0.0.0"/>
      <repository location="http://www.cute-test.com/updatesite/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.common" version="0.0.0"/>
      <unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.sdk" version="4.7.3.M20180330-0640"/>
      <unit id="org.eclipse.sdk.ide" version="4.7.3.M20180330-0640"/>
      <unit id="org.eclipse.equinox.launcher" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.hsr.ifs.iltis.testing.highlevel.feature.feature.group" version="0.0.0"/>
      <unit id="ch.hsr.ifs.iltis.core.feature.feature.group" version="0.0.0"/>
      <unit id="ch.hsr.ifs.iltis.cpp.feature.feature.group" version="0.0.0"/>
      <repository location="http://www.cevelop.com/iltis"/>
    </location>
  </locations>
</target>
