<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ch.hsr.ifs.cute.refactoringPreview.clonewar" sequenceNumber="91">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.3.0.201402142303"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.8.1.M20120914-1540"/>
<unit id="org.eclipse.platform.sdk" version="3.8.1.M20120914-1540"/>
<unit id="org.eclipse.sdk.ide" version="3.8.1.M20120914-1540"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="ch.hsr.ifs.cdttesting.feature.feature.group" version="3.2.2.201403241259"/>
<repository location="http://dev.ifs.hsr.ch/updatesites/cdttesting/kepler"/>
</location>
</locations>
</target>
