<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            id="ch.hsr.cdt.clonewar.app.actionSet"
            label="%actionSet.label"
            visible="false">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="%menu.label">
            <separator
                  name="reorgGroup">
            </separator>
            <separator
                  name="codingGroup">
            </separator>
         </menu>
         <action
               class="ch.hsr.ifs.cute.refactoringPreview.clonewar.app.CloneWarActionDelegate"
               definitionId="ch.hsr.ifs.cute.refactoringPreview.clonewar.command"
               id="ch.hsr.cdt.clonewar"
               label="%action.label"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
               style="push"
               toolbarPath="codingGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            id="ch.hsr.ifs.cute.refactoringPreview.clonewar.command"
            name="CloneWar Command">
      </command>
   </extension>

</plugin>
