<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="cdt" sequenceNumber="70">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.hsr.ifs.cdttesting.tools.feature.feature.group" version="4.0.0.201406261412"/>
<unit id="ch.hsr.ifs.cdttesting.feature.feature.group" version="4.0.0.201406261412"/>
<repository location="http://cevelop.com/cdt-test-plugins/development"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.0.I20140606-1215"/>
<unit id="org.eclipse.platform.sdk" version="4.4.0.I20140606-1215"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.4.0.201406111759"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
</target>
