<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="cdt" sequenceNumber="84">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.hsr.ifs.cdttesting.feature.feature.group" version="8.7.0.201506251222"/>
<repository location="http://cevelop.com/cdt-testing/mars"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="8.8.0.201509131935"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.5.1.M20150904-0015"/>
<unit id="org.eclipse.platform.ide" version="4.5.1.M20150904-0015"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
</locations>
</target>
