<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
       id="ch.hsr.ifs.cute.tdd.tddProblemMarker"
       name="TDD Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.cdt.codan.core.codanProblem">
    </super>
    <persistent
          value="false">
    </persistent>
 </extension>

   <extension point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
      <resolution
            class="ch.hsr.ifs.cute.tdd.createfunction.quickfixes.FreeOperatorCreationQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.MissingOperatorResolutionProblem_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.createtype.CreateTypeQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.TypeResolutionProblem_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.createfunction.quickfixes.NormalFunctionCreationQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.MethodResolutionProblem_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.createfunction.quickfixes.NormalFreeFunctionCreationQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.FunctionResolutionProblem_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.createfunction.quickfixes.CreateConstructorCreationQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.MissingConstructorResolutionProblem_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.createvariable.CreateMemberVariableQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.MemberVariableResolutionProblem_HSR">
      </resolution>
      <resolution
             class="ch.hsr.ifs.cute.tdd.createvariable.CreateLocalVariableQuickFix"
             problemId="ch.hsr.ifs.cute.tdd.codan.checkers.VariableResolutionProblem_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.changevisibility.ChangeVisibilityQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.PrivateMethodChecker_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.createfunction.quickfixes.MemberOperatorCreationQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.MissingOperatorResolutionProblem_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.createfunction.quickfixes.NormalFreeFunctionCreationQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.InvalidArguments_FREE_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.createnamespace.CreateNamespaceQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.NamespaceResolutionProblem_HSR">
      </resolution>
      <resolution
            class="ch.hsr.ifs.cute.tdd.createtype.CreateTypeQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.NamespaceResolutionProblem_HSR">
      </resolution>
       <resolution
            class="ch.hsr.ifs.cute.tdd.createfunction.quickfixes.StaticFunctionCreationQuickFix"
            problemId="ch.hsr.ifs.cute.tdd.codan.checkers.FunctionResolutionProblem_STATIC_HSR">
      </resolution>
       <resolution
             class="ch.hsr.ifs.cute.tdd.createfunction.quickfixes.NormalFunctionCreationQuickFix"
             problemId="ch.hsr.ifs.cute.tdd.codan.checkers.NamespaceMemberResolutionProblem_HSR">
       </resolution>-->
   </extension>
   
  <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cute.tdd.codan.checkers.FreeFunctionProblemChecker"
           id="ch.hsr.ifs.cute.tdd.codan.checkers.freefunctionproblemchecker"
           name="%checker.name">
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.FunctionResolutionProblem_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.freeFunction.messagePattern"
              name="%problem.name">
        </problem>
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.FunctionResolutionProblem_STATIC_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.staticFunction.messagePattern"
              name="%problem.name.0">
        </problem>
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.NamespaceMemberResolutionProblem_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.namespaceMemberFunction.messagePattern"
              name="%problem.name.11">
        </problem>
     </checker>
     <category
           id="ch.hsr.ifs.cute.tdd.category"
           name="%category.name">
     </category>
  </extension>
  
  <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cute.tdd.codan.checkers.MemberFunctionProblemChecker"
           id="ch.hsr.ifs.cute.tdd.codan.checkers.memberfunctionproblemchecker"
           name="%checker.name.0">
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.MethodResolutionProblem_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.memberFunction.messagePattern"
              name="%problem.name.1">
        </problem>
     </checker>
  </extension>
  
  <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cute.tdd.codan.checkers.WrongArgumentChecker"
           id="ch.hsr.ifs.cute.tdd.codan.checkers.wrongargumentchecker"
           name="%checker.name.1">
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.eclipse.cdt.codan.checkers.InvalidArguments_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.invalidMemberFunctionArguments.messagePattern"
              name="%problem.name.2">
        </problem>
         <problem
               category="ch.hsr.ifs.cute.tdd.category"
               defaultEnabled="true"
               defaultSeverity="Error"
               id="ch.hsr.ifs.cute.tdd.codan.checkers.InvalidArguments_FREE_HSR"
               markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
               messagePattern="%checker.invalidFunctionArguments.messagePattern"
               name="%problem.name.3">
        </problem>
     </checker>
  </extension>
  
   <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cute.tdd.codan.checkers.TypeResolutionProblemChecker"
           id="ch.hsr.ifs.cute.tdd.codan.checkers.typeresolutionproblemchecker"
           name="%checker.name.2">
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.TypeResolutionProblem_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.unknownType.messagePattern"
              name="%problem.name.4">
        </problem>
     </checker>
  </extension>
  
  <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cute.tdd.codan.checkers.VariableResolutionProblemChecker"
           id="ch.hsr.ifs.cute.tdd.codan.checkers.variableresolutionproblemchecker"
           name="%checker.name.3">
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.VariableResolutionProblem_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.localVariable.messagePattern"
              name="%problem.name.5">
        </problem>
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.MemberVariableResolutionProblem_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.memberVariable.messagePattern"
              name="%problem.name.6">
        </problem>
     </checker>
  </extension>

    <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cute.tdd.codan.checkers.PrivateMethodChecker"
           id="ch.hsr.ifs.cute.tdd.codan.checkers.privatemethodchecker"
           name="%checker.name.4">
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.PrivateMethodChecker_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.memberFunctionVisibility.messagePattern"
              name="%problem.name.7">
        </problem>
     </checker>
  </extension>

    <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cute.tdd.codan.checkers.MissingConstructorChecker"
           id="ch.hsr.ifs.cute.tdd.codan.checkers.missingconstructorchecker"
           name="%checker.name.5">
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.MissingConstructorResolutionProblem_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.missingConstructor.messagePattern"
              name="%problem.name.8">
        </problem>
     </checker>
  </extension>
  
  <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cute.tdd.codan.checkers.MissingOperatorChecker"
           id="ch.hsr.ifs.cute.tdd.codan.checkers.missingoperatorchecker"
           name="%checker.name.6">
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.MissingOperatorResolutionProblem_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.missingOperator.messagePattern"
              name="%problem.name.9">
        </problem>
     </checker>
  </extension>
  
  <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cute.tdd.codan.checkers.MissingNamespaceChecker"
           id="ch.hsr.ifs.cute.tdd.codan.checkers.missingnamespacechecker"
           name="%checker.name.7">
        <problem
              category="ch.hsr.ifs.cute.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.cute.tdd.codan.checkers.NamespaceResolutionProblem_HSR"
              markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
              messagePattern="%checker.missingNamespace.messagePattern"
              name="%problem.name.10">
        </problem>
     </checker>
  </extension>
  
  <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            id="ch.hsr.ifs.cute.tdd.extractCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.hsr.ifs.cute.tdd.extractCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+ALT+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%actionSet.description"
            id="ch.hsr.ifs.cute.tdd.actionSet"
            label="%actionSet.label"
            visible="true">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="%menu.label"
               path="edit">
            <separator
                  name="reorgGroup">
            </separator>
         </menu>
         <action
               class="ch.hsr.ifs.cute.tdd.extract.ExtractActionDelegate"
               definitionId="ch.hsr.ifs.cute.tdd.extractCommand"
               id="ch.hsr.ifs.cute.tdd.action4"
               label="%action.label"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="ch.hsr.ifs.cute.tdd.cEditorContribution"
            targetID="#CEditorContext">
         <action
               class="ch.hsr.ifs.cute.tdd.extract.ExtractActionDelegate"
               definitionId="ch.hsr.ifs.cute.tdd.extractCommand"
               id="ch.hsr.ifs.cute.tdd.action1"
               label="%action.label"
               menubarPath="org.eclipse.cdt.ui.refactoring.menu/codingGroup">
         </action>
      </viewerContribution>
   </extension>
           <extension
          point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="ch.hsr.ifs.cute.tdd.tddAnnotation"
             colorPreferenceKey="ch.hsr.ifs.cute.tdd.keys.colorPreference"
             colorPreferenceValue="255,0,0"
             contributesToHeader="true"
             highlightPreferenceKey="ch.hsr.ifs.cute.tdd.keys.highlightPreference"
             highlightPreferenceValue="false"
             icon="icons/icon-red-triangle-down.png"
             includeOnPreferencePage="true"
             isGoToNextNavigationTarget="true"
             isGoToNextNavigationTargetKey="ch.hsr.ifs.cute.tdd.keys.isGotoNextNavigationTarget"
             isGoToPreviousNavigationTarget="true"
             isGoToPreviousNavigationTargetKey="ch.hsr.ifs.cute.tdd.keys.isGotoPreviousNavigationTarget"
             label="TDD Problem"
             overviewRulerPreferenceKey="ch.hsr.ifs.cute.tdd.keys.overviewRulerPreference"
             overviewRulerPreferenceValue="true"
             presentationLayer="42"
             quickFixIcon="icons/icon-red-triangle-down.png"
             showInNextPrevDropdownToolbarAction="true"
             showInNextPrevDropdownToolbarActionKey="ch.hsr.ifs.cute.tdd.keys.showInNextPrevDropdownToolbarAction"
             symbolicIcon="error"
             textPreferenceKey="ch.hsr.ifs.cute.tdd.keys.textPreference"
             textPreferenceValue="true"
             textStylePreferenceKey="ch.hsr.ifs.cute.tdd.keys.textStylePreference"
             textStylePreferenceValue="SQUIGGLES"
             verticalRulerPreferenceKey="ch.hsr.ifs.cute.tdd.keys.verticalRulerPreference"
             verticalRulerPreferenceValue="true">
       </specification>
    </extension>
    <extension
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerSeverity="2"
             markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker"
             name="ch.hsr.ifs.cute.tdd.tddAnnotation"
             super="org.eclipse.ui.workbench.texteditor.error">
       </type>
    </extension>
    <extension point="org.eclipse.ui.ide.markerResolution">
       <markerResolutionGenerator
             class="org.eclipse.cdt.codan.internal.ui.CodanProblemMarkerResolutionGenerator"
             markerType="ch.hsr.ifs.cute.tdd.tddProblemMarker">
       </markerResolutionGenerator>
      <markerResolutionGenerator
            class="ch.hsr.ifs.cute.tdd.addArgument.AddArgumentQFGenerator"
            markerType="org.eclipse.cdt.codan.core.codanProblem">
      </markerResolutionGenerator>
      
      <markerResolutionGenerator
            class="ch.hsr.ifs.cute.tdd.addArgument.AddArgumentQFGenerator"
            markerType="org.eclipse.cdt.codan.core.codanSemanticProblem">
      </markerResolutionGenerator>
      
      <markerResolutionGenerator
            class="ch.hsr.ifs.cute.tdd.addArgument.AddArgumentQFGenerator"
            markerType="org.eclipse.cdt.core.problem">
      </markerResolutionGenerator>
   </extension>
</plugin>
