<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="Messages" name="%extension-point.name.1" schema="schema/Messages.exsd"/>
   <extension-point id="ImageProvider" name="%extension-point.name.0" schema="schema/ImageProvider.exsd"/>
   <extension-point id="launchObserver" name="%extension-point.name" schema="schema/launchObserver.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.cdt.ui.views"
            class="ch.hsr.ifs.test.framework.ui.TestRunnerViewPart"
            fastViewWidthRatio="0.5"
            icon="icons/obj16/empty_app.gif"
            id="ch.hsr.ifs.cutelauncher.ui.TestRunnerViewPart"
            name="%result.view.name"/>
   </extension>
    
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="ch.hsr.ifs.test.framework.preference.CutePrefPage"
            id="ch.hsr.ifs.cutelauncher.prefPage"
            name="%pref.page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.hsr.ifs.test.framework.preference.PreferenceInitializer">
      </initializer>
   </extension>

	   
   </plugin>
