<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="Headers" name="%extension-point.name.0" schema="schema/ch.hsr.ifs.cute.ui.headers.exsd"/>
   <extension-point id="wizardAddition" name="%extension-point.name" schema="schema/ch.hsr.ifs.cute.ui.wizardAddition.exsd"/>
<extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.cdt.ui.newCCWizards"
          finalPerspective="org.eclipse.cdt.ui.CPerspective"
          icon="icons/ovr16/cute_ovr.gif"
          id="cute_plugin.createSuiteWizard"
          name="%wizard.name.Suite">
    <class class="ch.hsr.ifs.cute.ui.project.wizard.NewSuiteFileCreationWizard">
            <parameter name="cfile" value="true"/>
         </class>
         <description>
            %wizard.description.AddingSuite
         </description>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="ch.hsr.ifr.cute.sourceGeneratorActions"
          label="%actionSet.label.TestSourceActions"
          visible="true">
       <menu
             id="ch.hsr.ifs.cute.menu"
             label="%menu.label.TestSourceGenerators">
       </menu>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.NewTestFunctionActionDelegate"
             definitionId="ch.hsr.ifs.cute.newTestFunctionCommand"
             id="ch.hsr.ifs.cute.newTestFunctionAction"
             label="%action.label.NewTestFunction">
          
       </action>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.AddTestToSuiteDelegate"
             definitionId="ch.hsr.ifs.cute.addTestCommand"
             id="ch.hsr.ifs.cute.addTestToSuiteAction"
             label="%action.label.AddTest2"
             style="push"
             tooltip="%addTestToSuitDesc">
       </action>
    </actionSet>
 </extension>
 
  <extension
       point="org.eclipse.ui.popupMenus">
    <viewerContribution
          id="ch.hsr.ifs.cute.cEditorContribution"
          targetID="#CEditorContext">
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.AddTestToSuiteDelegate"
             definitionId="ch.hsr.ifs.cute.addTestCommand"
             id="ch.hsr.ifs.cute.addTestMemberSuiteAction"
             label="%action.label.AddTest2"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cute.testCodeMenu">
       </action>
       <action
             class="ch.hsr.ifs.cute.ui.sourceactions.NewTestFunctionActionDelegate"
             definitionId="ch.hsr.ifs.cute.newTestFunctionCommand"
             id="ch.hsr.ifs.cute.newTestFunctionAction"
             label="%action.label.NewTestFunction2"
             menubarPath="org.eclipse.cdt.ui.source.menu/ch.hsr.ifs.cute.testCodeMenu">
       </action>

       <menu
             id="ch.hsr.ifs.cute.testCodeMenu"
             label="%menu.label.TestCode"
             path="org.eclipse.cdt.ui.source.menu">
          <groupMarker
                name="ch.hsr.ifs.cute.testCodeMenu">
          </groupMarker>
       </menu>
    </viewerContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%command.description.CreateTestFunction"
          id="ch.hsr.ifs.cute.newTestFunctionCommand"
          name="%command.name.NewTestFunction">
    </command>
    <command
          categoryId="org.eclipse.cdt.ui.category.source"
          description="%addTestToSuitDesc"
          id="ch.hsr.ifs.cute.addTestCommand"
          name="%command.name.AddTest">
    </command>
<!--    <command
          id="ch.hsr.ifs.cute.ui.changeCuteVersion"
          name="%command.name.0">
    </command>-->
    <command
          id="ch.hsr.ifs.cute.ui.changeCuteVersionAction"
          name="%command.name.1">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="ch.hsr.ifs.cute.newTestFunctionCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+F">
    </key>
    <key
          commandId="ch.hsr.ifs.cute.addTestCommand"
          contextId="org.eclipse.cdt.ui.cEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+G">
    </key>
 </extension>
 
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="ch.hsr.ifs.cute.ui.project.ProjectNaturePropertyTester"
          id="ch.hsr.ifs.ProjectNaturePropertyTester"
          namespace="ch.hsr.ifs"
          properties="projectNature1"
          type="org.eclipse.core.runtime.IAdaptable">
    </propertyTester>
 </extension>

 <extension
       id="cuteProblem"
       name="%extension.name.0"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <super
          type="org.eclipse.core.resources.textmarker">
    </super>
    <persistent
          value="false">
    </persistent>
 </extension>
   <extension
       point="org.eclipse.ui.navigator.navigatorContent">
 <commonWizard
            associatedExtensionId="org.eclipse.cdt.ui.navigator.content"
            menuGroupId="org.eclipse.cdt.ui"
            type="new"
            wizardId="cute_plugin.createSuiteWizard">
         <enablement>
            	<instanceof value="org.eclipse.cdt.core.model.ICElement" />
            </enablement>
	   </commonWizard>
 </extension>
 
    <extension
         id="ch.hsr.ifs.cute.ui.cutenature"
         name="%extension.name.1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ch.hsr.ifs.cute.ui.project.CuteNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.cdt.core.cnature">
      </requires-nature>
   </extension>
 
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/ovr16/cute_ovr.gif"
          id="ch.hsr.ifs.cute.cuteProjectImage"
          natureId="ch.hsr.ifs.cute.ui.cutenature">
    </image>
 </extension>
 
    <extension
         id="cute wizard"
         name="%extension.name.2"
         point="org.eclipse.cdt.ui.CDTWizard">
       <wizard
             class="ch.hsr.ifs.cute.ui.project.wizard.NewCuteProjectCategoryWizard"
             name="CUTE Category">
       </wizard>
       <wizard
             class="ch.hsr.ifs.cute.ui.project.wizard.NewCuteProjectWizard"
             name="CUTE Project">
       </wizard>
       <wizard
             class="ch.hsr.ifs.cute.ui.project.wizard.NewCuteSuiteWizard"
             name="CUTE Suite">
       </wizard>
       <wizard
             class="ch.hsr.ifs.cute.ui.project.wizard.NewCuteLibProjectWizard"
             name="CUTE Library Module">
       </wizard>
   </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="ch.hsr.ifs.cute.ui.objectContribution1"
             objectClass="org.eclipse.core.resources.IProject">
         <visibility>
              <objectState
                 name="projectNature"
                 value="ch.hsr.ifs.cute.ui.cutenature"/>
         </visibility>
         <menu
               id="ch.hsr.ifs.cute.ui.cuteMenu"
               label="bla%menu.label.0"
               path="buildGroup">
            <groupMarker name="rebuild"/>
            <separator name="update"/>
         </menu>
          <action
                class="ch.hsr.ifs.cute.ui.actions.ChangeCuteVersionAction"
                definitionId="ch.hsr.ifs.cute.ui.changeCuteVersion"
                id="ch.hsr.ifs.cute.ui.changeCuteVersion"
                label="%action.label.0"
                menubarPath="ch.hsr.ifs.cute.ui/update"
                style="push">
          </action>
       </objectContribution>
    </extension>
<!--    <extension
          point="org.eclipse.ui.popupMenus">
              <objectContribution
             id="ch.hsr.ifs.cute.ui.objectContribution2"
             objectClass="org.eclipse.cdt.core.model.ICProject">
         <visibility>
              <objectState
                 name="projectNature"
                 value="ch.hsr.ifs.cute.ui.cutenature"/>
         </visibility>
        <menu
               id="ch.hsr.ifs.cute.ui.cuteMenu.CProject"
               label="%menu.label.0"
               path="buildGroup">
            <groupMarker name="rebuild"/>
            <separator name="update"/>
         </menu>
          <action
                class="ch.hsr.ifs.cute.ui.actions.ChangeCuteVersionAction"
                definitionId="ch.hsr.ifs.cute.ui.changeCuteVersion"
                id="ch.hsr.ifs.cute.ui.changeCuteVersion.CProject"
                label="%action.label.0"
                menubarPath="ch.hsr.ifs.cute.ui.cuteMenu.CProject/update"
                style="push">
          </action>
       </objectContribution>
    </extension>-->
    <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">
       <checker
             class="ch.hsr.ifs.cute.ui.checkers.UnregisteredTestChecker"
             id="ch.hsr.ifs.cute.ui.unregisteredTestChecker"
             name="%checker.name">
      <problem
            category="ch.hsr.ifs.cute.cuteProblemCategory"
            defaultEnabled="true"
            defaultSeverity="Warning"
            id="ch.hsr.ifs.cute.unregisteredTestMarker"
            messagePattern="%problem.messagePattern"
            name="%problem.name"
            markerType="org.eclipse.cdt.codan.core.codanProblem">
      </problem>
      </checker>
       <category
             id="ch.hsr.ifs.cute.cuteProblemCategory"
             name="%category.name">
       </category>
   </extension>
    <extension
          point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
       <resolution
             class="ch.hsr.ifs.cute.ui.checkers.UnregisteredTestResolution"
             problemId="ch.hsr.ifs.cute.unregisteredTestMarker">
       </resolution>
    </extension>
</plugin>
