<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Mockator Neon.2 Target" sequenceNumber="102">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.5.0.201609021837"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.5.0.201609021837"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.5.0.201609021837"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.5.0.201609021837"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.6.3.M20170301-0400"/>
<unit id="org.eclipse.sdk.ide" version="4.6.3.M20170301-0400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="9.2.1.201703062208"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.hsr.ifs.cute.feature.feature.group" version="5.1.0.201703262221"/>
<repository location="http://www.cute-test.com/updatesite/development"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.hsr.ifs.cdttesting.feature.feature.group" version="9.2.0.201703131005"/>
<repository location="https://www.cevelop.com/cdt-testing/neon"/>
</location>
</locations>
</target>
