<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="GcovNature"
         name="%extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ch.hsr.ifs.cute.gcov.GcovNature">
         </run>
      </runtime>
      <builder
            id="ch.hsr.ifs.cute.gcov.gcovBuilder">
      </builder>
   </extension>
   <extension
         id="gcovDecorator"
         point="org.eclipse.ui.decorators">
      <decorator
            class="ch.hsr.ifs.cute.gcov.ProjectDecorator"
            id="ch.hsr.ifs.cute.gcov.decorator"
            label="%decorator.label"
            lightweight="true"
            state="true">
         <description>
            %decorator.description
         </description>
      </decorator>
   </extension>
   <extension
         id="coverageMarker"
         name="%extension.name.0"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="lineCoverMarker"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="ch.hsr.ifs.cute.gcov.coverageMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="lineUnCoverMarker"
         name="%extension.name.2"
         point="org.eclipse.core.resources.markers">
      <super
            type="ch.hsr.ifs.cute.gcov.coverageMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
    <extension
         id="linePartialCoverMarker"
         name="%extension.name.3"
         point="org.eclipse.core.resources.markers">
      <super
            type="ch.hsr.ifs.cute.gcov.coverageMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="ch.hsr.ifs.cute.gcov.lineCoverMarker"
            name="ch.hsr.ifs.cute.gcov.lineCoverAnnotationType">
      </type>
      <type
            markerType="ch.hsr.ifs.cute.gcov.lineUnCoverMarker"
            name="ch.hsr.ifs.cute.gcov.lineUnCoverAnnotationType">
      </type>
      <type
            markerType="ch.hsr.ifs.cute.gcov.linePartialCoverMarker"
            name="ch.hsr.ifs.cute.gcov.linePartialCoverAnnotationType">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="ch.hsr.ifs.cute.gcov.lineCoverAnnotationType"
            colorPreferenceKey="lineCoverColor"
            colorPreferenceValue="192,255,192"
            contributesToHeader="true"
            highlightPreferenceKey="lineCoverHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="%specification.label"
            overviewRulerPreferenceKey="lineCoverOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="lineCoverNextPrev"
            textPreferenceKey="lineCoverText"
            textPreferenceValue="true"
            textStylePreferenceValue="IBEAM"
            verticalRulerPreferenceKey="lineCoverVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ch.hsr.ifs.cute.gcov.lineUnCoverAnnotationType"
            colorPreferenceKey="lineUnCoverColor"
            colorPreferenceValue="255,160,160"
            contributesToHeader="true"
            highlightPreferenceKey="lineUnCoverHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="%specification.label.0"
            overviewRulerPreferenceKey="lineUnCoverOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="lineUnCoverNextPrev"
            textPreferenceKey="lineUnCoverText"
            textPreferenceValue="true"
            textStylePreferenceValue="IBEAM"
            verticalRulerPreferenceKey="lineUnCoverVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ch.hsr.ifs.cute.gcov.linePartialCoverAnnotationType"
            colorPreferenceKey="linePartialCoverColor"
            colorPreferenceValue="255,255,128"
            contributesToHeader="true"
            highlightPreferenceKey="linePartialCoverHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="%specification.label.1"
            overviewRulerPreferenceKey="linePartialCoverOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="linePartialCoverNextPrev"
            textPreferenceKey="linePartialCoverText"
            textPreferenceValue="true"
            textStylePreferenceValue="IBEAM"
            verticalRulerPreferenceKey="linePartialCoverVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="gcovBuilder"
         name="%extension.name.4"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="ch.hsr.ifs.cute.gcov.GcovBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.hsr.ifs.cute.gcov.GcovStartup">
      </startup>
   </extension>
    <extension
       point="org.eclipse.ui.commands">
    <command
          id="ch.hsr.ifs.cute.gcov.addRemoveGcovCommand"
          name="%command.name.0 ">
       <commandParameter
             id="ch.hsr.ifs.cute.gcov.handleGcovNatrueParameter"
             name="handleGcovNature"
             optional="false">
       </commandParameter>
    </command>
    <command
          id="ch.hsr.ifs.cute.gcov.clearMarkers"
          name="%command.name.2">
    </command>
 </extension>
       <extension
         point="ch.hsr.ifs.testframework.launchObserver">
      <launchObserver
            class="ch.hsr.ifs.cute.gcov.parser.LaunchObserver">
      </launchObserver>
   </extension>
   <extension
         point="ch.hsr.ifs.cute.ui.wizardAddition">
      <wizardAddition
            compositeProvider="ch.hsr.ifs.cute.gcov.ui.GcovWizardAddition">
      </wizardAddition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.hsr.ifs.cuteMenu">
         <command
               commandId="ch.hsr.ifs.cute.gcov.addRemoveGcovCommand"
               label="%action.label.0"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="ch.hsr.ifs.cute.ui.cutenature">
                           </test>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="ch.hsr.ifs.cute.gcov.GcovNature">
                              </test>
                           </not>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="ch.hsr.ifs.cute.gcov.handleGcovNatrueParameter"
                  value="add">
            </parameter>
         </command>
         <command
               commandId="ch.hsr.ifs.cute.gcov.addRemoveGcovCommand"
               label="%action.label.1"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="ch.hsr.ifs.cute.gcov.GcovNature">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="ch.hsr.ifs.cute.gcov.handleGcovNatrueParameter"
                  value="remove">
            </parameter>
         </command>
         <command
               commandId="ch.hsr.ifs.cute.gcov.clearMarkers"
               label="%action.label.2"
               style="push">
         </command>
         <separator
               name="ch.hsr.ifs.cute.gcov.separator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.hsr.ifs.cute.gcov.actions.AddRemoveGcovHandler"
            commandId="ch.hsr.ifs.cute.gcov.addRemoveGcovCommand">
      </handler>
      <handler
            class="ch.hsr.ifs.cute.gcov.actions.ClearMarkersHandler"
            commandId="ch.hsr.ifs.cute.gcov.clearMarkers">
      </handler>
   </extension>

</plugin>
