<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Cevelop based on Eclipse Oxygen and CDT 9.3.0" sequenceNumber="1499845937">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.7.0.I20170612-0950"/>
<unit id="org.eclipse.sdk.ide" version="4.7.0.I20170612-0950"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="9.3.0.201706122201"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.hsr.ifs.cdttesting.feature.feature.group" version="9.3.0.201707120748"/>
<repository location="https://www.cevelop.com/cdt-testing/9.3.0"/>
</location>
</locations>
</target>
